{% extends 'base.html' %}
{% load static %}
{% block title %}{{page_title}}{% endblock title %}
{% block body %}
<link rel="stylesheet" href="{% static 'wishlist.css' %}">

<main>
   {% if messages %}
      {% for message in messages %}
         <div class="alert alert-{{ message.tags }} auto-dismiss">
               {{ message }}
         </div>
      {% endfor %}
      <script>
         setTimeout(function() {
               $('.auto-dismiss').fadeOut('slow');
         }, 3000);
      </script> 
   {% endif %}

   <!-- page title area start  -->
   <div class="breadcrumb-menu-edit">
      <ol class="breadcrumb">
         <li class="breadcrumb-item"><a href="{% url 'home' %}"><span><i class="fa fa-home"></i></span></a></li>
         <li class="breadcrumb-item active"><span>Cart</span></li>
      </ol>
   </div>
   <!-- page title area end  -->

   <!-- cart area start  -->
   <section class="cart-area pt-100 pb-100">
      <div class="container container-small">
         <div class="row">
            <div class="col-12">
               <div class="table-content table-responsive">
                  <table class="table">
                     <div class="wishlist_card">
                        {% for obj in object.items.all %}
                        <div class="wishlist_wrap">
                           <span class="product-thumbnail"><a href="{% url 'productdetail' subcategory=obj.item.subcategory slug=obj.item.slug %}"><img class="wishlist_image"
                              src="data: image/png; base64, {{obj.item.binaryToStringImage1|safe}}" alt="img"></a></span>
                           <span class="product-name"><a href="{% url 'productdetail' subcategory=obj.item.subcategory slug=obj.item.slug %}">{{obj.item.name|slice:25}}</a></span>
                           <span class="product-name">{{obj.item.long_name}}</span>
                           <div>
                              <div style="border-bottom: 1px solid #d9d9d9; padding-bottom: 10px;">
                                 <span style="color: #282c3f; font-weight: 700; text-align: left;">Selected Size: </span>
                                 <span class="product-size"><a href="{% url 'productdetail' subcategory=obj.item.subcategory slug=obj.item.slug %}">{{obj.size}}</a></span>
                              </div>
                              <div style="border-bottom: 1px solid #d9d9d9; padding: 16px 0px;">
                                 <span style="color: #282c3f; font-weight: 700; text-align: left;">Price: </span>
   
                                 <span class="product-price"><span class="amount">&nbsp;₹{{obj.item.list_price}}</span></span>
                                 <span style=" opacity: .8; color: #94969f; text-decoration: line-through;" class="product-price" style="color: grey; text-decoration: line-through;">&nbsp;₹{{obj.item.max_retail_price}}</span>
                              </div>
                              <div class="price_quantity">
                                 <span class="product-quantity text-center">
                                    <div class="product-quantity">
                                       <div style="border-bottom: 1px solid #d9d9d9; padding-bottom: 10px; display: flex; align-items: center; gap: 20px; margin-top: 10px;">
                                          <span style="color: #282c3f; font-weight: 700; text-align: left;">Quantity: </span>
                                          <div class="product-quantity-form">
                                             <form action="">
                                                <button class="cart-minus cart-minus-ck far fa-minus" id="{{obj.item.id}}-cart-minus-btn:{{obj.size}}"></button>
                                                <input class="cart-input cart-input-ck" type="text" id="{{obj.item.id}}-name-value:{{obj.size}}" value="{{obj.quantity}}">
                                                <button class="cart-plus cart-plus-ck far fa-plus" id="{{obj.item.id}}-cart-plus-btn:{{obj.size}}"></button>
                                             </form>
                                          </div>
                                       </div>
                                    </div>
                                 </span>
                                 
                              </div>
                              <div>
                                 <span style="color: #282c3f; font-weight: 700; text-align: left;">Total: </span>
                                 <span class="product-subtotal" id="product-subtotal"><span class="amount" id="{{obj.item.id}}-product-subtotal-save">&nbsp;₹{{obj.get_final_price}}</span></span>
                              </div>
                           </div>
                           
                           <span class="product-remove wishlist_remove" style="top: -475px;"><a href="{% url 'delete-from-cart' obj.item.id %}"><i class="fa fa-times-circle"></i></a></span>
                        </div>
                        {% empty %}
                                <div>
                                    <span colspan='6'>Your cart is empty</span>
                                </div>
                        {% endfor %}
                     </div>
                  </table>
               </div>
               <div class="row">
                  <div class="col-12">
                     <div class="coupon-all">
                        <div class="coupon d-flex align-items-center">
                           <input id="coupon_code" class="input-text" name="coupon_code" value=""
                              placeholder="Coupon code" type="text">
                           <button class="fill-btn" name="apply_coupon" type="submit">Apply
                              coupon</button>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="row">
                  <div class="col-md-5 ml-auto">
                     <div class="cart-page-total">
                        <h2>Cart totals</h2>
                        <ul class="mb-20">
                           <li id="grand-subtotal">Subtotal <span>₹{{object.get_total}}</span></li>
                           <li id="grand-total">Total <span>₹{{object.get_total}}</span></li>
                        </ul>
                        <a class="border-btn" href="{% url 'payment-checkout' %}">Proceed to checkout</a>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </section>
   <script>
      jQuery(document).ready(function(){
         $('.cart-plus').click(function(e){
               //showLoader();
               e.preventDefault();
               
               var elementId = $(this).attr('id').split('-')[0];
               var size = $(this).attr('id').split(':')[1];
               
               domain = window.location.origin
               path_name = '/cart/customer/order/add/' 
               $.ajax({
                  type: 'POST',
                  url: domain+path_name,
                  data: {
                     "csrfmiddlewaretoken":getCookie('csrftoken'),
                     "product" : elementId.toString(),
                     "size": size.toString(),
                     "quantity": "1"
                  },
                  success: function(response) {
                     if (response){
                     document.getElementById("grand-subtotal").innerHTML ="Subtotal <span>"+"₹"+response['amount']+"</span>";
                     document.getElementById("grand-total").innerHTML ="Total <span>"+ "₹"+response['amount']+"</span>";
                     document.getElementById(elementId+"-product-subtotal-save").innerHTML = "₹"+response['item_dprice'] ;
                     document.getElementById("cart-number").innerHTML = response['qty'];

                     }
                  }
               })
         });
         
         $('.cart-minus').click(function(e){
               //showLoader();
               e.preventDefault();
               //fieldName = $(this).attr('field');
               var elementId = $(this).attr('id').split('-')[0];
               var size = $(this).attr('id').split(':')[1];
               domain = window.location.origin
               path_name = '/cart/customer/order/remove/' //change-this url
               $.ajax({
                  type: 'POST',
                  url: domain+path_name,
                  data: {
                    "csrfmiddlewaretoken":getCookie('csrftoken'),
                     "product" : elementId.toString(),
                     "size": size.toString(),
                     "quantity": "1" 
                  },
                  success: function(response) {
                     if (response){
                     document.getElementById("grand-subtotal").innerHTML ="Subtotal <span>"+"₹"+response['amount']+"</span>";
                     document.getElementById("grand-total").innerHTML ="Total <span>"+ "₹"+response['amount']+"</span>";
                     document.getElementById(elementId+"-product-subtotal-save").innerHTML = "₹"+response['item_dprice'];
                     document.getElementById("cart-number").innerHTML = response['qty'];

                     if (response['item_qty'] == 0){
                              location.reload(true);
                           }
                     }
                  }
               })
         });
      });
   </script>
   <!-- cart area end  -->

</main>
{% endblock body %}