{% extends 'base.html' %}
{% load static %}
{% block title %}FAQ{% endblock title %}
{% block body %}
   <!-- Add your site or application content here -->
   <main>

      <!-- page title area start  -->
      {% comment %} <section class="page-title-area" data-background="{% static 'assets/img/bg/page-title-bg.jpg' %}">
         <div class="container">
            <div class="row">
               <div class="col-lg-12">
                  <div class="page-title-wrapper text-center">
                     <h1 class="page-title mb-10">Return Policy</h1>
                     <div class="breadcrumb-menu">
                        <nav aria-label="Breadcrumbs" class="breadcrumb-trail breadcrumbs">
                           <ul class="trail-items">
                              <li class="trail-item trail-begin"><a href="{% url 'home' %}"><span>Home</span></a></li>
                              <li class="trail-item trail-end"><span>Return Policy</span></li>
                           </ul>
                        </nav>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </section> {% endcomment %}
      <div class="breadcrumb-menu-edit">
      <ol class="breadcrumb">
         <li class="breadcrumb-item"><a href="{% url 'home' %}"><span><i class="fa fa-home"></i></span></a></li>
         <li class="breadcrumb-item active"><span>Return Policy</span></li>
      </ol>
   </div>
      <!-- page title area end  -->

      <!-- faq area start -->
      <section class="faq-area pt-120 pb-40 bg-grey fix">
         <div class="container container-small">
            <div class="row">
              {% comment %} {% for policy in policies %} {% endcomment %}
               <p>{{policy.return_policy.html|safe}}</p>
               {% comment %} {% endfor %} {% endcomment %}
            </div>
         </div>
      </section>
      <!-- faq area end -->

   </main>
{% endblock body %}


