amqp
anyio
appnope
APScheduler
argon2-cffi
argon2-cffi-bindings
Beaker
beautifulsoup4
celery
certifi
chardet
charset-normalizer
cryptography
cycler
dataclasses-json
debugpy
decorator
dj-rest-auth
Django
django-admin-volt
django-allauth
django-bootstrap-modal-forms
django-celery-beat
django-celery-results
django-cors-headers
django-countries
django-crispy-forms
django-debug-toolbar
django-dotenv
django-environ
django-filter
django-ipware
django-quill-editor
django-rest-auth
django-rest-passwordreset
django-storages
django-timezone-field
djangorestframework
hashids
idna
importlib-metadata
infobip-api-python-sdk
instamojo-wrapper
Jinja2
openpyxl
pep8
Pillow
psycopg2-binary
pydantic
pyfcm
Pygments
pyjwkest
PyJWT
pyparsing
pyrsistent
python-crontab
python-dateutil
python-decouple
python-dotenv
python-json-logger
python3-openid
razorpay
redis
regex
requests
requests-oauthlib
rsa
tzdata
tzlocal
uri-template
urllib3
virtualenv
websocket-client
whitenoise
gunicorn
gevent
pandas
psycopg2-binary

