{% extends 'user/base.html' %}
{% block profile %}
<div class="col-lg-8 pb-5 pt-4 ps-4">
<ul class="list-inline ">
    <li class="list-inline-item mb-2">
        <div class="card mb-1 border-0 w-200 h-125 pt-2 alert-warning rounded-6 ovh ps-5 posr">
            <span
                class="w-125 p-2 text-center ls-10 posa bg-warning w-30 rotate-90 text-uppercase font-xsssss fw-500 text-white"
                style="left: -46px; top: 46px;">CASHBACK</span>
            <img src="https://via.placeholder.com/45x45.png" alt="logo" class="w-35 mt-0">
            <h4 class="fw-700 text-grey-700 font-xsssss mt-2 ms-1 ls-10">MASTER CARD </h4>
            <div class="card-body p-1 mt-1">
                <h5 class="fw-500 font-xsssss text-grey-500">Date <span
                        class="d-block fw-700 font-xsssss mt-1 text-grey-900">22 Dec 2022</span></h5>
            </div>
        </div>
    </li>

    <li class="list-inline-item mb-2">
        <div class="card mb-1 border-0 w-200 h-125 pt-2 alert-info rounded-6 ovh ps-5 posr">
            <span
                class="w-125 p-2 text-center ls-10 posa bg-info w-30 rotate-90 text-uppercase font-xsssss fw-500 text-white"
                style="left: -46px; top: 46px;">REWARD</span>
            <img src="https://via.placeholder.com/45x45.png" alt="logo" class="w-35 mt-0">
            <h4 class="fw-700 text-grey-700 font-xsssss mt-2 ms-1 ls-10">PAYPAL</h4>
            <div class="card-body p-1 mt-1">
                <h5 class="fw-500 font-xsssss text-grey-500">Date <span
                        class="d-block fw-700 font-xsssss mt-1 text-grey-900">22 Dec 2022</span></h5>
            </div>
        </div>
    </li>

    <li class="list-inline-item mb-2">
        <div class="card mb-1 border-0 w-200 h-125 pt-2 alert-primary rounded-6 ovh ps-5 posr">
            <span
                class="w-125 p-2 text-center ls-10 posa bg-primary w-30 rotate-90 text-uppercase font-xsssss fw-500 text-white"
                style="left: -46px; top: 46px;">CASHBACK</span>
            <img src="https://via.placeholder.com/45x45.png" alt="logo" class="w-35 mt-0">
            <h4 class="fw-700 text-grey-700 font-xsssss mt-2 ms-1 ls-10">VISA CARD </h4>
            <div class="card-body p-1 mt-1">
                <h5 class="fw-500 font-xsssss text-grey-500">Date <span
                        class="d-block fw-700 font-xsssss mt-1 text-grey-900">22 Dec 2022</span></h5>
            </div>
        </div>
    </li>

    <li class="list-inline-item mb-2">
        <div class="card mb-1 border-0 w-200 h-125 pt-2 alert-success rounded-6 ovh ps-5 posr">
            <span
                class="w-125 p-2 text-center ls-10 posa bg-success w-30 rotate-90 text-uppercase font-xsssss fw-500 text-white"
                style="left: -46px; top: 46px;">CASHBACK</span>
            <img src="https://via.placeholder.com/45x45.png" alt="logo" class="w-35 mt-0">
            <h4 class="fw-700 text-grey-700 font-xsssss mt-2 ms-1 ls-10">PAYONEER </h4>
            <div class="card-body p-1 mt-1">
                <h5 class="fw-500 font-xsssss text-grey-500">Date <span
                        class="d-block fw-700 font-xsssss mt-1 text-grey-900">22 Dec 2022</span></h5>
            </div>
        </div>
    </li>
</ul>
<div>
    
{% endblock profile %}