$colors: (
	common: (
		white: #fff,
		black: #000,
		blue: #2785ff,
		heading: #171717,
		text: #707070,
		border: #eaebee,
		placeholder: #707070,
	),
	theme: (
		1: #171717,
		2: #fb5050,
	),
	bg: (
		gray: #f3f4f6,
		black: #000,
		footer: #f6f6f6,
	),
);
