{% extends 'base.html' %}
{% load static %}
{% block title %}Cart{% endblock title %}
{% block body %}
<main>
   {% if messages %}
      {% for message in messages %}
         <div class="alert alert-{{ message.tags }} auto-dismiss">
               {{ message }}
         </div>
      {% endfor %}
      <script>
         setTimeout(function() {
               $('.auto-dismiss').fadeOut('slow');
         }, 3000);
      </script> 
   {% endif %}

   <!-- page title area start  -->
   <section class="page-title-area" data-background="assets/img/bg/page-title-bg.jpg">
      <div class="container">
         <div class="row">
            <div class="col-lg-12">
               <div class="page-title-wrapper text-center">
                  <h1 class="page-title mb-10">My Cart</h1>
                  <div class="breadcrumb-menu">
                     <nav aria-label="Breadcrumbs" class="breadcrumb-trail breadcrumbs">
                        <ul class="trail-items">
                           <li class="trail-item trail-begin"><a href="{% url 'home' %}"><span>Home</span></a></li>
                           <li class="trail-item trail-end"><span>Cart</span></li>
                        </ul>
                     </nav>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </section>
   <!-- page title area end  -->

   <!-- cart area start  -->
   <section class="cart-area pt-100 pb-100">
      <div class="container container-small">
         <div class="row">
            <div class="col-12">
               <div class="table-content table-responsive">
                  <table class="table">
                     <thead>
                        <tr>
                           <th class="product-thumbnail">Images</th>
                           <th class="cart-product-name">Product</th>
                           <th class="product-size">Size</th>
                           <th class="product-price">Unit Price</th>
                           <th class="product-quantity">Quantity</th>
                           <th class="product-subtotal">Total</th>
                           <th class="product-remove">Remove</th>
                        </tr>
                     </thead>
                     <tbody>
                        {% for obj in object.items.all %}
                        <tr>
                           <td class="product-thumbnail"><a href="{% url 'productdetail' obj.item.id %}"><img
                                    src="/media/{{obj.item.image1}}" alt="img"></a></td>
                           <td class="product-name"><a href="{% url 'productdetail' obj.item.id %}">{{obj.item.name}}</a></td>
                           <td class="product-size"><a href="{% url 'productdetail' obj.item.id %}">{{obj.size}}</a></td>
                           <td class="product-price"><span class="amount">₹{{obj.item.list_price|floatformat:2}}</span></td>
                           <td class="product-quantity text-center">
                              <div class="product-quantity mt-10 mb-10">
                                 <div class="product-quantity-form">
                                    <form action="">
                                       <button class="cart-minus cart-minus-ck far fa-minus" id="{{obj.item.id}}-cart-minus-btn:{{obj.size}}"></button>
                                       <input class="cart-input cart-input-ck" type="text" id="{{obj.item.id}}-name-value:{{obj.size}}" value="{{obj.quantity}}">
                                       <button class="cart-plus cart-plus-ck far fa-plus" id="{{obj.item.id}}-cart-plus-btn:{{obj.size}}"></button>
                                    </form>
                                 </div>
                              </div>
                           </td>
                           <td class="product-subtotal" id="product-subtotal"><span class="amount">₹{{obj.get_final_price|floatformat:2}}</span></td>
                           <td class="product-remove"><a href="{% url 'delete-from-cart' obj.item.id %}"><i class="fa fa-times"></i></a></td>
                        </tr>
                        {% empty %}
                                <tr>
                                    <td colspan='6'>Your cart is empty</td>
                                </tr>
                        {% endfor %}
                     </tbody>
                  </table>
               </div>
               <div class="row">
                  <div class="col-12">
                     <div class="coupon-all">
                        <div class="coupon d-flex align-items-center">
                           <input id="coupon_code" class="input-text" name="coupon_code" value=""
                              placeholder="Coupon code" type="text">
                           <button class="fill-btn" name="apply_coupon" type="submit">Apply
                              coupon</button>
                        </div>
                        <div class="coupon2">
                           <button onclick="window.location.reload()" class="fill-btn" name="update_cart"
                              type="submit">Update cart</button>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="row">
                  <div class="col-md-5 ml-auto">
                     <div class="cart-page-total">
                        <h2>Cart totals</h2>
                        <ul class="mb-20">
                           <li id="grand-subtotal">Subtotal <span>₹{{object.get_total|floatformat:2}}</span></li>
                           <li id="grand-total">Total <span>₹{{object.get_total|floatformat:2}}</span></li>
                        </ul>
                        <a class="border-btn" href="{% url 'payment-checkout' %}">Proceed to checkout</a>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </section>
   <!-- cart area end  -->

</main>
{% endblock body %}