{% extends 'base.html' %}
{% load static %}
{% block title %} Checkout {% endblock title %}
{% block body %}
<style>
   .overlay {
      display: none;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.5);
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 1000; /* Ensure it appears above other elements */
   }

   .popup {
      background-color: #fff;
      border-radius: 10px;
      box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
      padding: 20px;
      text-align: center;
      position: relative;
   }

   .close-button {
      position: absolute;
      top: 10px;
      right: 10px;
      cursor: pointer;
      color: #777;
      font-size: 20px;
      transition: color 0.3s ease-in-out;
   }

   .close-button:hover {
      color: #000;
   }
   .addrType_chip{
      display: inline-block;
      color: var(--Positivve, #4A872C);
      font-family: Inter;
      font-size: 12px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      border: 0.5px solid var(--Positivve, #4A872C);
      padding: 5px;
      border-radius: 25px;
      height: 25px;
   }
   @media (min-width: 510px) and (max-width: 1024px) {
      .card_address{
         width: max-content !important;
      }
   }
   @media (max-width: 510px) {
      .card_address{
         width: 90% !important;
         margin-left: 5%;
         display: flex;
         flex-direction: column !important;
         align-items: center;
         padding: 10px;
      }
      .pt-100 {
         padding-top: 30px;
     }
     .card-body{
      text-align: center;
     }

  }
</style>

<main>
      {% if messages %}
         {% for message in messages %}
            <div class="alert alert-{{ message.tags }} auto-dismiss">
                  {{ message }}
            </div>
         {% endfor %}
         <script>
            setTimeout(function() {
                  $('.auto-dismiss').fadeOut('slow');
            }, 3000);
         </script> 
      {% endif %}
      <!-- page title area start  -->
      {% comment %} <section class="page-title-area" data-background="assets/img/bg/page-title-bg.jpg">
         <div class="container">
            <div class="row">
               <div class="col-lg-12">
                  <div class="page-title-wrapper text-center">
                     <h1 class="page-title mb-10">Checkout</h1>
                     <div class="breadcrumb-menu">
                        <nav aria-label="Breadcrumbs" class="breadcrumb-trail breadcrumbs">
                           <ul class="trail-items">
                              <li class="trail-item trail-begin"><a href="{% url 'home' %}"><span><i class="fa fa-home"></i></span></a></li>
                              <li class="trail-item trail-end"><span>Checkout</span></li>
                           </ul>
                        </nav>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </section> {% endcomment %}
      <div class="breadcrumb-menu-edit">
      <ol class="breadcrumb">
         <li class="breadcrumb-item"><a href="{% url 'home' %}"><span><i class="fa fa-home"></i></span></a></li>
         <li class="breadcrumb-item active"><span>Checkout</span></li>
      </ol>
   </div>
      <!-- page title area end  -->
      <section class="pt-100 pb-30">
         <div>
            <div class="card card_address" style="width: 40% ;margin-left:5%; display: flex; flex-direction: row; align-items: center; padding: 10px;">
               <div class="card-body">
                  <h6 class="card-subtitle mb-2 text-muted" style=" color: #000; font-family: Inter; font-size: 16px; font-style: normal; font-weight: 400; line-height: normal;"><span>Deliver to:</span> <span id="mainScreenDeliverTo">{{ address.0.name }}, {{ address.0.pincode }}</span> </h6>
                  <h5 class="card-title" style=" color: #000; font-family: Inter; font-size: 14px; font-style: normal; font-weight: 400; line-height: normal;">Address: <span id="mainScreenAddress">{{ address.0.user_address }}</span></h5>
               </div>
               <div onclick="togglePopup()" style="border-radius: 8px; border: 1px solid #C25729; padding: 8px; color: #C25729; font-family: Poppins; font-size: 12px; font-style: normal; font-weight: 400; line-height: normal;">
                  Change Address
               </div>
            </div>
         </div>
      </section>
      
      <div id="addressPopup" class="overlay" style="display: none;">
         <div class="popup">
            <span class="close-button" onclick="closePopup()">&times;</span>
            <h4 style=" color: var(--black, #1C1B1F); font-variant-numeric: lining-nums tabular-nums; font-family: Poppins; font-size: 20px; font-style: normal; font-weight: 500; line-height: 20px;">Select Address</h4>
            <form id="addressForm">
               <!-- Dynamically populate options with addresses as radio buttons -->
               {% for addr in address %}
               <label style=" display: flex; flex-direction: row; align-items: center; ">
                  <input type="radio" name="selectedAddress" value="{{ addr.name }}, {{ addr.pincode }}" onclick="selectAddress('{{ addr.name }}, {{ addr.pincode }}', '{{ addr.user_address }}')">
                  <div class="card-body" style="text-align: start ;display: flex; flex-direction: row; align-items: baseline; gap: 20px;">
                     <div>
                        <h6 class="card-subtitle mb-2 text-muted" style="color: #000; font-family: Inter; font-size: 16px; font-style: normal; font-weight: 400; line-height: normal;">
                           <span>Deliver to:</span> {{ addr.name }}, {{ addr.pincode }}
                        </h6>
                        <h5 class="card-title" style="color: #000; font-family: Inter; font-size: 14px; font-style: normal; font-weight: 400; line-height: normal;">
                           Address: {{ addr.user_address }}
                        </h5>
                     </div>
                     <div>
                        <span class="addrType_chip">{{addr.address_type}}</span>
                     </div>
                  </div>
               </label>
               {% endfor %}
            </form>
         </div>
      </div>
      

      <!-- coupon-area start -->
      <section class="coupon-area pt-100 pb-30">
         <div class="container container-small">
            <div class="row">
               <div class="col-md-6">
                  <div class="coupon-accordion">
                     <!-- ACCORDION START -->
                     <h3>Have a coupon? <span id="showcoupon">Click here to enter your code</span></h3>
                     <div id="checkout_coupon" class="coupon-checkout-content">
                        <div class="coupon-info">
                           <form action="#">
                              <p class="checkout-coupon">
                                 <input type="text" placeholder="Coupon Code" />
                                 <button class="fill-btn" type="submit">Apply Coupon</button>
                              </p>
                           </form>
                        </div>
                     </div>
                     <!-- ACCORDION END -->
                  </div>
               </div>
            </div>
         </div>
      </section>
      <!-- coupon-area end -->

      <!-- checkout-area start -->
      <section class="checkout-area pb-70">
         <div class="container container-small">
            <form action="{% url 'paymentcheckout' totalAmount %}" method="post">{% csrf_token %}
               <div class="row">
                  <div class="col-lg-6">
                     <div class="checkbox-form">
                        <h3>Billing Details</h3>
                        <div class="row">
                           <div class="col-md-12">
                              <div class="country-select">
                                 <label>Country <span class="required">*</span></label>
                                 <select id="country" name="country">
                                    <option value="India">India</option>
                                 </select>
                              </div>
                           </div>
                           <div class="col-md-6">
                              <div class="checkout-form-list">
                                 <label>First Name <span class="required">*</span></label>
                                 <input type="text" placeholder="First Name" name="first_name" id="first_name"/>
                              </div>
                           </div>
                           <div class="col-md-6">
                              <div class="checkout-form-list">
                                 <label>Last Name <span class="required">*</span></label>
                                 <input type="text" placeholder="Last Name" name="last_name" id="last_name"/>
                              </div>
                           </div>
                           {% comment %} <div class="col-md-12">
                              <div class="checkout-form-list">
                                 <label>Company Name</label>
                                 <input type="text" placeholder="" />
                              </div>
                           </div> {% endcomment %}
                           <div class="col-md-12">
                              <div class="checkout-form-list">
                                 <label>Address <span class="required">*</span></label>
                                 <input type="text" placeholder="Street address" name="address_line_1" id="address_line_1"/>
                              </div>
                           </div>
                           <div class="col-md-12">
                              <div class="checkout-form-list">
                                 <input type="text" placeholder="Apartment, suite, unit etc. (optional)" name="address_line_2" id="address_line_2" />
                              </div>
                           </div>
                           <div class="col-md-12">
                              <div class="checkout-form-list">
                                 <label>Town / City <span class="required">*</span></label>
                                 <input type="text" placeholder="Town / City" name="city" id="city"/>
                              </div>
                           </div>
                           <div class="col-md-6">
                              <div class="checkout-form-list">
                                 <label>State / County <span class="required">*</span></label>
                                 <input type="text" placeholder="" name="state" id="state"/>
                              </div>
                           </div>
                           <div class="col-md-6">
                              <div class="checkout-form-list">
                                 <label>Postcode / Zip <span class="required">*</span></label>
                                 <input type="text" placeholder="Postcode / Zip" name="pincode" id="pincode" onkeyup="getPincodeDeliveryValidation(this.value);"/>
                                 <div id="pincode-availability-message" class="error-message"></div>
                              </div>
                           </div>
                           <div class="col-md-6">
                              <div class="checkout-form-list">
                                 <label>Email Address <span class="required">*</span></label>
                                 <input type="email" placeholder="" name="email" id="email"/>
                              </div>
                           </div>
                           <div class="col-md-6">
                              <div class="checkout-form-list">
                                 <label>Phone <span class="required">*</span></label>
                                 <input type="text" placeholder="Phone Number" name="phone_number" id="phone_number" />
                              </div>
                           </div>
                           <div class="col-md-12">
                              <div class="ship-different-title">
                              <label>Save Address</label>
                              <input id="save-address" name="save-address" type="checkbox" />
                              </div>
                           </div>
                        </div>
                        <div class="different-address">
                           <div class="ship-different-title">
                              <label>Ship to a different address?</label>
                              <input id="ship-box" name="ship-box" type="checkbox" />
                           </div>
                           <div id="ship-box-info">
                              <div class="row">
                                 <div class="col-md-12">
                                    <div class="country-select">
                                       <label>Country <span class="required">*</span></label>
                                       <select id="countryShip" name="countryShip">
                                          <option value="India">India</option>
                                       </select>
                                    </div>
                                 </div>
                                 <div class="col-md-6">
                                    <div class="checkout-form-list">
                                       <label>First Name <span class="required">*</span></label>
                                       <input type="text" placeholder="First Name" name="first_nameShip" id="first_nameShip"/>
                                    </div>
                                 </div>
                                 <div class="col-md-6">
                                    <div class="checkout-form-list">
                                       <label>Last Name <span class="required">*</span></label>
                                       <input type="text" placeholder="Last Name" name="last_nameShip" id="last_nameShip"/>
                                    </div>
                                 </div>
                                 {% comment %} <div class="col-md-12">
                                    <div class="checkout-form-list">
                                       <label>Company Name</label>
                                       <input type="text" placeholder="" />
                                    </div>
                                 </div> {% endcomment %}
                                 <div class="col-md-12">
                                    <div class="checkout-form-list">
                                       <label>Address <span class="required">*</span></label>
                                       <input type="text" placeholder="Street address" name="address_line_1Ship" id="address_line_1Ship"/>
                                    </div>
                                 </div>
                                 <div class="col-md-12">
                                    <div class="checkout-form-list">
                                       <input type="text" placeholder="Apartment, suite, unit etc. (optional)" name="address_line_2Ship" id="address_line_2Ship" />
                                    </div>
                                 </div>
                                 <div class="col-md-12">
                                    <div class="checkout-form-list">
                                       <label>Town / City <span class="required">*</span></label>
                                       <input type="text" placeholder="Town / City" name="cityShip" id="cityShip"/>
                                    </div>
                                 </div>
                                 <div class="col-md-6">
                                    <div class="checkout-form-list">
                                       <label>State / County <span class="required">*</span></label>
                                       <input type="text" placeholder="" name="stateShip" id="stateShip"/>
                                    </div>
                                 </div>
                                 <div class="col-md-6">
                                    <div class="checkout-form-list">
                                       <label>Postcode / Zip <span class="required">*</span></label>
                                       <input type="text" placeholder="Postcode / Zip" name="pincodeShip" id="pincodeShip" />
                                    </div>
                                 </div>
                                 <div class="col-md-6">
                                    <div class="checkout-form-list">
                                       <label>Email Address <span class="required">*</span></label>
                                       <input type="email" placeholder="" name="email" id="email"/>
                                    </div>
                                 </div>
                                 <div class="col-md-6">
                                    <div class="checkout-form-list">
                                       <label>Phone <span class="required">*</span></label>
                                       <input type="text" placeholder="Phone Number" name="phone_number" id="phone_number" />
                                    </div>
                                 </div>
                              </div>
                           </div>
                           <div class="order-notes">
                              <div class="checkout-form-list">
                                 <label>Order Notes</label>
                                 <textarea id="checkout-mess" cols="30" rows="10" name="checkout-mess"
                                    placeholder="Notes about your order, e.g. special notes for delivery."></textarea>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="col-lg-6">
                     <div class="your-order mb-30 ">
                        <h3>Your order</h3>
                        <div class="your-order-table table-responsive">
                           <table>
                              <thead>
                                 <tr>
                                    <th class="product-name">Product</th>
                                    <th class="product-total">Total</th>
                                 </tr>
                              </thead>
                              {% for order in orderItems.items.all %}
                              <tbody>
                                 <tr class="cart_item">
                                    <td class="product-name">
                                       {{order.item.name}} <strong class="product-quantity"> × {{order.quantity}}</strong>
                                    </td>
                                    <td class="product-total">
                                       <span class="amount">₹{{order.item.list_price|floatformat:2}}</span>
                                    </td>
                                 </tr>
                              </tbody>
                              {% endfor %}
                              <tfoot>
                                 <tr class="cart-subtotal">
                                    <th>Cart Subtotal</th>
                                    <td><span class="amount">₹{{orderItems.get_total|floatformat:2}}</span></td>
                                 </tr>
                                 {% if shippingCharges > 0 %}
                                 <tr class="shipping">
                                    <th>Shipping</th>
                                    <td>
                                       <ul>
                                          <li>
                                             <input type="radio" select />
                                             <label>
                                                Flat Rate: <span class="amount">₹{{shippingCharges}}</span>
                                             </label>
                                          </li>
                                       </ul>
                                    </td>
                                 </tr>
                                 {% else %}
                                 <tr class="shipping">
                                    <th>Shipping</th>
                                    <td>
                                       <ul>
                                          <li>
                                             <input type="radio" select/>
                                             <label>
                                                Free Shipping: <span class="amount">₹{{shippingCharges}}</span>
                                             </label>
                                          </li>
                                       </ul>
                                    </td>
                                 </tr>
                                 {% endif %}
                                 <tr class="order-total">
                                    <th>Order Total</th>
                                    <td><strong><span class="amount">₹{{totalAmount|floatformat:2}}</span></strong>
                                    </td>
                                 </tr>
                              </tfoot>
                           </table>
                        </div>

                        <div class="payment-method">
                           <div class="order-button-payment mt-20">
                              <button type="submit" class="fill-btn">Place order</button>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </form>
         </div>
      </section>
      <!-- checkout-area end -->
      <script>
         function getPincodeDeliveryValidation(value){
            domain = window.location.origin;
            $.ajax({
               url: domain+'/api/v1/stores/location-availability/',
               type: 'GET',
               body: {
                  pincode: value
               },
               success: function (response){
                  document.getElementById("pincode-availability-message").textContent = "";
                  if (response.available == true) {
                     document.getElementById("pincode-availability-message").textContent = "Hurray! We are delivering at this location.";
                  }
                  else  {
                     document.getElementById("pincode-availability-message").textContent = "OOPS! We are currently not delivering at this location.";
                  }
               }
            });
         }
      </script>

      <script>
         let isPopupOpen = false;

         function togglePopup() {
             if (isPopupOpen) {
                 closePopup();
             } else {
                 openPopup();
             }
         }
         
         function openPopup() {
             document.getElementById("addressPopup").style.display = "flex";
             isPopupOpen = true;
         }
         
         function closePopup() {
             document.getElementById("addressPopup").style.display = "none";
             isPopupOpen = false;
         }
         
         function selectAddress(deliverTo, userAddress) {
             const mainScreenDeliverTo = document.getElementById("mainScreenDeliverTo");
             mainScreenDeliverTo.textContent = deliverTo;
             
             const mainScreenAddress = document.getElementById("mainScreenAddress");
             mainScreenAddress.textContent = userAddress;
           
             closePopup();
         }
         

      </script>
   </main>
{% endblock body %}