{% extends 'base.html' %}
{% load static %}
{% block title %}Product Detail{% endblock title %}
{% block body %}
<!-- Add your site or application content here -->
   <main>
      {% if messages %}
         {% for message in messages %}
            <div class="alert alert-{{ message.tags }} auto-dismiss" id="err-message">
                  {{ message }}
            </div>
         {% endfor %}
         <script>
            setTimeout(function() {
                  $('.auto-dismiss').fadeOut('slow');
            }, 3000);
         </script> 
      {% endif %}
      <!-- page title area start  -->
      {% comment %} <section class="page-title-area" data-background="{% static 'assets/img/bg/page-title-bg.jpg' %}">
         <div class="container">
            <div class="row">
               <div class="col-lg-12">
                  <div class="page-title-wrapper text-center">
                     <h1 class="page-title mb-10">Shop</h1>
                     <div class="breadcrumb-menu">
                        <nav aria-label="Breadcrumbs" class="breadcrumb-trail breadcrumbs">
                           <ul class="trail-items">
                              <li class="trail-item trail-begin"><a href="{% url 'home' %}"><span>Home</span></a></li>
                              <li class="trail-item trail-end"><span>{{product.name}}</span></li>
                           </ul>
                        </nav> {% endcomment %}
                        <div class="breadcrumb-menu-edit">
                           <ol class="breadcrumb">
                              <li class="breadcrumb-item"><a href="{% url 'home' %}"><span><i class="fa fa-home"></i></span></a></li>
                              <li class="breadcrumb-item active"><span>{{product.name}}</span></li>
                           </ol>
                       </div>
                     {% comment %} </div>
                  </div>
               </div>
            </div>
         </div>
      </section> {% endcomment %}
      <!-- page title area end  -->

      <!-- shop details area start  -->
      <section class="shop-details-area pt-120 pb-90">
         <div class="container container-small">
            <div class="row">
               <div class="col-lg-6">
                  <div class="product-details-tab-wrapper mb-30">
                     <div class="product-details-tab">
                        <div class="tab-content" id="productDetailsTab">
                           {% if product.image1 %}
                           <div class="tab-pane fade active show" id="pro-1" role="tabpanel"
                              aria-labelledby="pro-1-tab">
                              <img class="active" src="data: image/png; base64, {{product.binaryToStringImage1|safe}}" alt="...">
                           </div>
                           {% else %}
                           <div class="tab-pane fade active show" id="pro-1" role="tabpanel"
                              aria-labelledby="pro-1-tab">
                              <img class="active" src="{% static 'assets/img/product/no-thumb.jpg' %}" alt="...">
                           </div>
                           {% endif %}
                           {% if product.image2 %}
                           <div class="tab-pane fade" id="pro-2" role="tabpanel" aria-labelledby="pro-2-tab">
                              <img class="active" src="data: image/png; base64, {{product.binaryToStringImage2|safe}}" alt="...">
                           </div>
                           {% endif %}
                           {% if product.image3 %}
                           <div class="tab-pane fade" id="pro-3" role="tabpanel" aria-labelledby="pro-3-tab">
                              <img class="active" src="data: image/png; base64, {{product.binaryToStringImage3|safe}}" alt="...">
                           </div>
                           {% endif %}
                        </div>
                     </div>
                     <div class="product-details-nav">
                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                           {% if product.image1 %}
                           <li class="nav-item" role="presentation">
                              <button class="nav-link active" id="pro-1-tab" data-bs-toggle="tab"
                                 data-bs-target="#pro-1" type="button" role="tab" aria-controls="pro-1"
                                 aria-selected="false">
                                 <img src="data: image/png; base64, {{product.binaryToStringImage1|safe}}" alt="..." width="65px" height="80px" style="width:auto;">
                              </button>
                           </li>
                           {% else %}
                           <li class="nav-item" role="presentation">
                              <button class="nav-link active" id="pro-1-tab" data-bs-toggle="tab"
                                 data-bs-target="#pro-1" type="button" role="tab" aria-controls="pro-1"
                                 aria-selected="false">
                                 <img src="{% static 'assets/img/product/no-thumb.jpg' %}" alt="..." width="65px" height="80px" style="width:auto;">
                              </button>
                           </li>
                           {% endif %}
                           {% if product.image2 %}
                           <li class="nav-item" role="presentation">
                              <button class="nav-link" id="pro-2-tab" data-bs-toggle="tab" data-bs-target="#pro-2"
                                 type="button" role="tab" aria-controls="pro-2" aria-selected="true">
                                 <img src="data: image/png; base64, {{product.binaryToStringImage2|safe}}" alt="..." width="65px" height="80px" style="width:auto;">
                              </button>
                           </li>
                           {% endif %}
                           {% if product.image3 %}
                           <li class="nav-item" role="presentation">
                              <button class="nav-link" id="pro-3-tab" data-bs-toggle="tab" data-bs-target="#pro-3"
                                 type="button" role="tab" aria-controls="pro-3" aria-selected="false">
                                 <img src="data: image/png; base64, {{product.binaryToStringImage3|safe}}" alt="..." width="65px" height="80px" style="width:auto;">
                              </button>
                           </li>
                           {% endif %}
                        </ul>
                     </div>
                  </div>

               </div>
               <div class="col-lg-6">
                  <div class="product-side-info mb-30">
                     <h4 class="product-name mb-10">{{product.name}}</h4>
                     <span class="product-price">₹{{product.list_price|floatformat:2}}</span>&nbsp;&nbsp;
                     <span class="product-price" style="color: grey;
    text-decoration: line-through;">₹{{product.max_retail_price|floatformat:2}}</span>

                     <p class="mb-30">{{product.desc.html|safe}}</p>
                     <form action="{% url 'add-to-cart-size-qty' product.id %}" method="post" id="add-to-cart-form">{% csrf_token %}
                        <input type="hidden" value="{{product.id}}" id="get-single-product-id">
                        <div class="available-sizes btn-group-toggle" role="group" name="choose-size" id="choose-size">
                           <span>Available Sizes : </span>
                           {% for size in product.available_sizes %}
                           <input type="radio" class="btn-check" name="choose-size" id="size-{{size}}" value="{{size}}">
                           <label for="size-{{size}}" class="product-available-sizes btn btn-outline-dark ms-3">{{size}}</label>
                           {% endfor %}
                        </div>
                        <div class="product-quantity-cart mb-25">
                           <div class="product-quantity-form">
                              <button class="cart-minus" id="cart-minus-product" onclick="minusBtnClick('cart-minus-product')"><i class="far fa-minus"></i></button>
                              <input class="cart-input" id="pro-qty" name="pro-qty" type="text" value="1">
                              <button class="cart-plus" onclick="plusBtnClick('cart-plus-product')" id="cart-plus-product"><i class="far fa-plus"></i></button>
                           </div>
                           <button role="submit" class="fill-btn">Add to Cart</button>
                        </div>
                     </form>
                     <a href="{% url 'add-to-wishlist' product.id %}" class="border-btn">Add to Wishlist</a>
                     <div class="product__details__tag tagcloud mt-25 mb-10"><span>Tags : </span>
                        {% for tags in product.tags %}
                        <a rel="tag">{{tags}}</a>
                        {% endfor %}
                        
                     </div> 
                  </div>
               </div>
            </div>
            <!--reviews-->
            <div class="product_info-faq-area pb-0">
               <div class="">
                  <nav class="product-details-nav">
                     <div class="nav nav-tabs" id="nav-tab" role="tablist">
                        <a class="nav-item nav-link show" id="nav-general-tab" data-bs-toggle="tab" href="#nav-general"
                           role="tab" aria-selected="false">Description</a>
                        <a class="nav-item nav-link active" id="nav-seller-tab" data-bs-toggle="tab" href="#nav-seller"
                           role="tab" aria-selected="true">Reviews</a>
                     </div>
                  </nav>
                  <div class="tab-content product-details-content" id="nav-tabContent">
                     <div class="tab-pane fade" id="nav-general" role="tabpanel">
                        <div class="tabs-wrapper mt-35">
                           <div class="product__details-des">
                              <p>{{product.desc.html|safe}}</p>
                           </div>
                        </div>
                     </div>
                     <div class="tab-pane fade active show" id="nav-seller" role="tabpanel">
                        <div class="tabs-wrapper mt-35">
                           {% for review in reviews %}
                           <div class="course-review-item mb-30">
                              <div class="course-reviews-img">
                                 {% if review.auther.avatar %}
                                 <a><img src="/media/{{review.auther.avatar}}"
                                       alt="image not found" style="width:50px;"></a>
                                 {% else %}
                                 <a><img src="{% static 'assets/img/dashboard/profile.png' %}"
                                       alt="image not found" style="width:50px;"></a>
                                 {% endif %}
                                 
                              </div>
                              <div class="course-review-list">
                                 <h5><a href="#">{{review.author.user_full_name}}</a></h5>
                                 <div class="course-start-icon">
                                    {% for i in total_stars %}
                                       {% if i  < review.ratings %}
                                       <i class="fas fa-star"></i>
                                       {% else %}
                                       <i class="fal fa-star"></i>
                                       {% endif %}
                                    
                                    {% endfor %}
                                    <span>{{review.review_date}}</span>
                                 </div>
                                 <p>{{review.review}}</p>
                              </div>
                           </div>
                           {% empty %}
                           <p>No Reviews</p>
                           {% endfor %}
                           <div class="product__details-comment ">
                              <div class="comment-title mb-20">
                                 <h3>Add a review</h3>
                                 {% comment %} <p>Your email address will not be published. Required fields are marked *</p> {% endcomment %}
                              </div>
                              <span>Overall ratings: </span>
                              <div class="comment-rating mb-20" data-rating="{{ user_rating }}">
                                    <span class="star" data-value="1"></span>
                                    <span class="star" data-value="2"></span>
                                    <span class="star" data-value="3"></span>
                                    <span class="star" data-value="4"></span>
                                    <span class="star" data-value="5"></span>
                              </div>
                              <div class="comment-input-box mb-20">
                                 <form action="" id="submit-review-form">{% csrf_token %}
                                    <div class="row">
                                       <div class="col-xxl-12">
                                          <textarea placeholder="Your review"
                                             class="comment-input comment-textarea mb-20" id="product-review"></textarea>
                                       </div>
                                       <div class="col-xxl-6">
                                          <div class="comment-input mb-20">
                                             <input type="text" placeholder="Your Name" id="user-author" style="display:None;" value="{{request.user.id}}">
                                          </div>
                                       </div>
                                       <div class="col-xxl-6">
                                          <div class="comment-input mb-20">
                                             <input type="text" placeholder="" id="product-id" value="{{product.id}}" style="display:None;">
                                          </div>
                                       </div>
                                       <div class="col-xxl-12">
                                          <div class="comment-submit">
                                             <button type="submit" class="fill-btn">Submit</button>
                                          </div>
                                       </div>
                                    </div>
                                 </form>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <!-- shop details area end  -->

      <div class="related_product pb-70">
         <div class="container container-small">
            <div class="section-title mb-55">
               <h2>Related Product</h2>
            </div>
            <!-- Slider main container -->
            <div class="swiper-container r-product-active">
               <!-- Additional required wrapper -->
               <div class="swiper-wrapper">
                  {% for product in related_products %}
                  <div class="swiper-slide">
                        {% comment %} {% if 'best-seller' in product.category %} {% endcomment %}
                        <div class="single-product">
                           <div class="product-image pos-rel">
                              <a href="{% url 'productdetail' pk=product.id %}" class=""><img src="data: image/png; base64, {{product.binaryToStringImage1|safe}}" alt="img"  width="265px" height="390px"></a>
                              {% comment %} <div class="product-action">
                                 <a href="#" class="quick-view-btn"><i class="fal fa-eye"></i></a>
                                 <a href="#" class="wishlist-btn"><i class="fal fa-heart"></i></a>
                                 <a href="#" class="compare-btn"><i class="fal fa-exchange"></i></a>
                              </div>{% endcomment %}
                              <div class="product-action-bottom">
                                 <a href="{% url 'productdetail' product.id %}" class="quick-view-btn"><i class="fal fa-eye"></i></a>
                                 {% comment %} <a href="{% url 'addtocart' pk=product.id size="L" %}" class="add-cart-btn"><i
                                       class="fal fa-shopping-bag"></i>Add
                                    to
                                    Cart</a> {% endcomment %}
                                 {% comment %} <a href="{% url 'add-to-wishlist' product.id %}" class="wishlist-btn"><i class="fal fa-heart"></i></a> {% endcomment %}
                                 <a class="wishlist-btn" id="wishlist-{{product.id}}"><i class="fal fa-heart"></i></a>
                                          
                              </div> 
                              {% if product.discount %}
                              <div class="product-sticker-wrapper">
                                 <span class="product-sticker discount">-{{product.discount|floatformat:0}}%</span>
                              </div>
                              {% else %}
                              <div class="product-sticker-wrapper">
                                 <span class="product-sticker new">New</span>
                              </div>
                              {% endif %}
                           </div>
                           <div class="product-desc">
                              <div class="product-name"><a href="{% url 'productdetail' pk=product.id %}">{{product.name}}</a></div>
                              <div class="product-price">
                                 <span class="price-now">₹{{product.list_price|floatformat:2}}</span>
                                 <span class="price-old">₹{{product.max_retail_price|floatformat:2}}</span>
                              </div>
                              <ul class="product-color-nav">
                                 {% for image in pr_images %}
                                    {% if image.product.id == product.id %}
                                    <li class="cl-{{image.image_thumbnail_color}} active">
                                       <img src="/media/{{image.images}}" alt="img">
                                    </li>
                                    {% endif %}
                                 {% endfor %}
                              </ul>
                           </div>
                        </div>
                        {% comment %} {% endif %} {% endcomment %}
                     </div>
                 {% endfor %}
               </div>
               <!-- If we need pagination -->
               <div class="testimonial-pagination text-center"></div>
               <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
            </div>
         </div>
      </div>
   </main>
   


{% endblock body %}