{% extends 'base.html' %}
{% load static %}
{% block title %}404{% endblock title %}
{% block body %}
<!-- Add your site or application content here -->
   <main>
      <!-- error area start  -->
      <section class="error-area">
         <div class="container container-small">
            <div class="row">
               <div class="col-lg-12">
                  <div class="error-content">
                     <div class="error-number">Placed!!</div>
                     <h2 class="error-text">Hurray! <br> Your Order has been Placed Successfully</h2>
                     <p>Your order will be delivered in 4-5 days.</p>
                     <div class="error-btn">
                        <a href="{% url 'home' %}" class="fill-btn">Back to Homepage</a>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <!-- error area end  -->
   </main>

{% endblock body %}