{% extends 'base.html' %}
{% load static %}
{% block title %} Wishlist {% endblock title %}
{% block body %}
   <main>

      <!-- page title area start  -->
      <section class="page-title-area" data-background="assets/img/bg/page-title-bg.jpg">
         <div class="container">
            <div class="row">
               <div class="col-lg-12">
                  <div class="page-title-wrapper text-center">
                     <h1 class="page-title mb-10">My Wishlist</h1>
                     <div class="breadcrumb-menu">
                        <nav aria-label="Breadcrumbs" class="breadcrumb-trail breadcrumbs">
                           <ul class="trail-items">
                              <li class="trail-item trail-begin"><a href="{% url 'home' %}"><span>Home</span></a></li>
                              <li class="trail-item trail-end"><span>Wishlist</span></li>
                           </ul>
                        </nav>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <!-- page title area end  -->

      <!-- cart area start  -->
      <div class="cart-area pt-100 pb-100">
         <div class="container container-small">
            <div class="row">
               <div class="col-12">
                  <form action="#">
                     <div class="table-content table-responsive">
                        <table class="table">
                           <thead>
                              <tr>
                                 <th class="product-thumbnail">Images</th>
                                 <th class="cart-product-name">Product</th>
                                 <th class="product-price">Unit Price</th>
                                 {% comment %} <th class="product-quantity">Add to cart</th> {% endcomment %}
                                 <th class="product-subtotal">Total</th>
                                 <th class="product-remove">Remove</th>
                              </tr>
                           </thead>
                           <tbody>
                              {% for item in items.items.all %}
                              <tr>
                                 <td class="product-thumbnail"><a href="{% url 'productdetail' pk=item.item.id %}"><img
                                          src="/media/{{item.item.image1}}" alt="img"></a></td>
                                 <td class="product-name"><a href="{% url 'productdetail' pk=item.item.id %}">{{item.item.name}}</a></td>
                                 <td class="product-price"><span class="amount">₹{{item.item.list_price|floatformat:2}}</span></td>
                                 {% comment %} <td class="product-quantity">
                                    <a href="{% url 'move-to-cart' item.item.id %}" class="border-btn">Move to Cart</a>
                                 </td> {% endcomment %}
                                 <td class="product-subtotal"><span class="amount">₹{{item.get_final_price|floatformat:2}}</span></td>
                                 <td class="product-remove"><a href="{% url 'delete-item-from-wishlist' item.item.id %}"><i class="fa fa-times"></i></a></td>
                              </tr>
                              {% empty %}
                                <tr>
                                    <td colspan='6'>No Items in Wishlist</td>
                                </tr>
                              {% endfor %}
                           </tbody>
                        </table>
                     </div>
                  </form>
               </div>
            </div>
         </div>
      </div>
      <!-- cart area end  -->

   </main>
   {% endblock body %}