{% extends 'base.html' %}
{% load static %}
{% block title %} Wishlist {% endblock title %}
{% block body %}
<link rel="stylesheet" href="{% static 'wishlist.css' %}">
<style>
.popup-overlay {
   display: none;
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-color: rgba(0, 0, 0, 0.7);
   z-index: 1000;
}

.popup-content {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   background-color: #fff;
   padding: 20px;
   border-radius: 10px;
   box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
   width: max-content;
}

.product-quantity-form {
   display: flex;
   align-items: center;
}

.cart-minus, .cart-plus {
   background-color: #f0f0f0;
   border: none;
   cursor: pointer;
   padding: 5px 10px;
   font-size: 16px;
   outline: none;
}

.cart-input {
   width: 50px;
   text-align: center;
   border: 1px solid #ccc;
   margin: 0 10px;
}

.product-available-sizes {
   margin-right: 5px;
}

.available-sizes .btn-check:checked + .btn {
   background-color: #007bff;
   color: #fff;
}

.close-icon {
   position: absolute;
   top: 10px;
   right: 15px;
   font-size: 24px;
   cursor: pointer;
   color: #999;
}
.popup-image-desc{
   display: flex;
   flex-direction: row;
   border-bottom: 1px solid grey;
   margin-bottom: 30px;
   padding-bottom: 24px;
}
.wishlist_image_popup{
   width: 100px;
   height: 100px;
   object-fit: cover;
   margin-right: 20px;
}
.price_quantity_popup{
   display: flex;
   align-items: center;
   flex-direction: row;
   gap: 8px;
   margin-bottom: 10px;
}
.popup_price_list{
   display: flex;
    flex-direction: row;

}
.product-available-sizes-pop {
   margin-right: 5px;
   height: 40px;
   width: 40px;
   border-radius: 50%;
}
.border-btn_pop{
   width: max-content;
   text-align: center;
   border: 1px solid;
   border-radius: 10px;
   position: relative;
   left: 32%;
   font-size: 16px;
   color: var(--clr-common-heading);
   border: 1px solid var(--clr-common-heading);
   padding: 0 40px;
   height: 50px;
   border-radius: 5px;
   display: inline-block;
   line-height: 48px;
   font-weight: 600;
}
.border-btn_pop:hover {
   color: var(--clr-common-white);
   background: var(--clr-common-heading);
}
@media (max-width: 400px) {
   .popup-content {
      width: 85%;
   }
   .price_quantity_popup{
      flex-direction: unset;
      flex-wrap: wrap;
   }
   .cart-area .product-quantity-form {
      width: max-content !important;
      height: 51px;
  }

}

</style>
   <main>
      <!-- page title area start  -->
      {% comment %} <section class="page-title-area" data-background="assets/img/bg/page-title-bg.jpg">
         <div class="container">
            <div class="row">
               <div class="col-lg-12">
                  <div class="page-title-wrapper text-center">
                     <h1 class="page-title mb-10">My Wishlist</h1>
                     <div class="breadcrumb-menu">
                        <nav aria-label="Breadcrumbs" class="breadcrumb-trail breadcrumbs">
                           <ul class="trail-items">
                              <li class="trail-item trail-begin"><a href="{% url 'home' %}"><span><i class="fa fa-home"></i></span></a></li>
                              <li class="trail-item trail-end"><span>Wishlist</span></li>
                           </ul>
                        </nav>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </section> {% endcomment %}
      <div class="breadcrumb-menu-edit">
      <ol class="breadcrumb">
         <li class="breadcrumb-item"><a href="{% url 'home' %}"><span><i class="fa fa-home"></i></span></a></li>
         <li class="breadcrumb-item active"><span>Wishlist</span></li>
      </ol>
   </div>
      <!-- page title area end  -->
      <!-- cart area start  -->
      <div class="cart-area ">
         <div class="container container-small">
            <div class="row">
               <div class="col-12">
                  <form action="#">
                     <div class="table-content table-responsive">
                        <div class="table">
                           <div>
                              {% comment %} <tr>
                                 <span class="product-thumbnail">Images</span>
                                 <span class="cart-product-name">Product</span>
                                 <span class="product-size">Size</span>
                                 <span class="product-quantity">Quantity</span>
                                 <span class="product-price">Unit Price</span>
                                 <span class="product-subtotal">Total</span>
                                 <span class="product-quantity">Add to cart</span>
                                 <span class="product-remove">Remove</span>
                              </tr> {% endcomment %}
                           </div>
                           <div class="wishlist_products_item">

                              <div class="wishlist_card">
                                 {% for item in items.items.all %}
                                 <div class="wishlist_wrap">
                                    <span class="product-thumbnail"><a class="product-padding" href="{% url 'productdetail' pk=item.item.id %}"><img class="wishlist_image"
                                             src="data: image/png; base64, {{item.item.binaryToStringImage1|safe}}" alt="img"></a></span>
                                    <span class="product-name"><a href="{% url 'productdetail' pk=item.item.id %}">{{item.item.name}}</a></span>
                                    <span class="product-size"><a href="#">{{item.size}}</a></span>
                                    <div class="price_quantity">
                                      
                                       <span class="product-price"><span class="amount">₹{{item.item.list_price|floatformat:2}}</span></span>
                                       <span class="product-price" style="color: grey; text-decoration: line-through;">₹{{item.item.max_retail_price|floatformat:2}}</span>
                                    </div>
                                    {% comment %} <span class="product-subtotal"><span class="amount">₹{{item.get_final_price|floatformat:2}}</span></span> {% endcomment %}
                                    <span class="product-quantity move_btn">
                                       {% comment %} <a href="{% url 'move-to-cart' item.item.id %}" class="border-btn" onclick="openPopup()">Move to Cart</a> {% endcomment %}
                                       <span class="border-btn" onclick="openPopup()">Move to Cart</span>
                                    </span>
                                    
                                    <span class="product-remove wishlist_remove"><a href="{% url 'delete-item-from-wishlist' item.item.id %}"><i class="fa fa-times-circle"></i></a></span>
                                 </div>
                                 {% empty %}
                                   <tr>
                                       <span colspan='6'>No Items in Wishlist</span>
                                   </tr>
                                 {% endfor %}
                              </div>
                           </div>
                        </div>
                     </div>
                  </form>
                  
               </div>
            </div>
         </div>
      </div>
      <!-- cart area end  -->
   </main>
      <div id="popup-overlay" class="popup-overlay">
         <div class="popup-content">
            <span class="close-icon" onclick="closePopup()">&times;</span> 
            <div class="popup-image-desc">
               <span class=""><a class="product-padding" href="{% url 'productdetail' pk=item.item.id %}"><img class="wishlist_image_popup"
                  src="data: image/png; base64, {{item.item.binaryToStringImage1|safe}}" alt="img"></a>
               </span>
               <span>
                  <span class="product-name"><a href="{% url 'productdetail' pk=item.item.id %}">{{item.item.name}}</a></span>
                  {% comment %} <span class="product-size"><a href="#">{{item.size}}</a></span> {% endcomment %}
                  <div>

                     <span class="popup_price_list">
                        <div class="price_quantity_popup">
                           <span style="color: #282c3f; font-weight: 700;" class="product-price"><span class="amount">₹{{item.item.list_price|floatformat:2}}</span></span>
                           <span style=" opacity: .8; color: #94969f; text-decoration: line-through;" class="product-price" style="color: grey; text-decoration: line-through;">₹{{item.item.max_retail_price|floatformat:2}}</span>
                           <div class="">
                              <span style=" color: #ff905a; padding: 0 3px; font-size: 16px; font-weight: 700;" class="">({{item.item.discount|floatformat:0}}% OFF)</span>
                           </div>
                        </div>
                     </span>
                  </div>
               </span>

            </div>
            
            <input type="hidden" value="{{item.item.id}}" id="get-single-product-id">
            <div style="display: flex; flex-direction: column;" class="available-sizes btn-group-toggle" role="group" name="choose-size" id="choose-size">
               <span style="color: #282c3f; font-weight: 700; text-align: left;">Select Sizes : </span>
               <span>
                  {% for size in item.item.available_sizes %}
                  <input type="radio" class="btn-check" name="choose-size" id="size-{{size}}" value="{{size}}">
                  <label for="size-{{size}}" class="product-available-sizes-pop btn btn-outline-dark">{{size}}</label>
                  {% endfor %}
               </span>
            </div>
            <a href="#" class="border-btn_pop" id="wishlist-pop-up-btn">Done</a>
         </div>
      </div>
   <script>
      function openPopup(product_id) {

         var overlay = document.getElementById("popup-overlay");
         overlay.style.display = "block";
         var domain = window.location.origin;
         $.ajax({
            url: domain + "/api/v1/products/details/",
            type: "GET",
            body: {
               id: product_id
            },
            success: function(response) {
               document.getElementById('get-single-product-id').value = product_id;
               

            }
         })
      }
   
      function closePopup() {
         var overlay = document.getElementById("popup-overlay");
         overlay.style.display = "none";
      }
      $(document).on('click','#wishlist-pop-up-btn',function(e){
         e.preventDefault();
         var size = $('input[name="choose-size"]:checked').val();
         //console.log(size);
         var product_id = document.getElementById('get-single-product-id').value;
        //console.log(product_id);
         var domain  = window.location.origin;
         //console.log(domain);
         $.ajax({
            url: domain+"/api/v1/cart/move-to-cart/",
            type: "POST",
            body: {
               size: size,
               id: product_id
            },
            success: function(response){
               console.log(response);
               window.location.href = "{% url 'cartview' %}";
            }
         })
         
      })
   </script>
   {% endblock body %}