{% extends 'base.html' %}
{% load static %}
{% block title %}{{page_title}}{% endblock title %}
{% block head %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
{% endblock head %}
{% block body %}
<style>
 
   .wishlist_wrap{
      display: flex;
      flex-direction: row;
      gap: 40px;
      justify-content: space-around;
      border: 0.5px solid #DADADA;
      margin-bottom: 20px;
      border-radius: 10px;
      padding: 15px 12px 15px 12px;
   }
   .overlay {
      display: none;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.5);
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 1000; /* Ensure it appears above other elements */
   }
   .product-quantity-cart .product-quantity-form{
      width: max-content;
   }

   .popup {
      background-color: #fff;
      border-radius: 10px;
      box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
      padding: 20px;
      text-align: center;
      position: relative;
      width: 40%;
      overflow: auto;
      height: 400px;
   }

   .close-button {
      position: absolute;
      top: 10px;
      right: 10px;
      cursor: pointer;
      color: #777;
      font-size: 20px;
      transition: color 0.3s ease-in-out;
   }
   
   .close-button:hover {
      color: #000;
   }
   .addrType_chip{
      display: inline-block;
      color: var(--Positivve, #4A872C);
      font-size: 12px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      border: 0.5px solid var(--Positivve, #4A872C);
      padding: 5px;
      border-radius: 25px;
      height: 25px;
   }
   @media (min-width: 510px) and (max-width: 1024px) {
      .card_address{
         width: max-content !important;
         margin-left:5%;
      }
   }
   @media (max-width: 600px) {
      .popup {
         width: 100%;
      }
   }
   @media (max-width: 510px) {
      .popup {
         width: 100%; 
      }
      .wishlist_wrap{
         display: flex;
         flex-direction: row;
         gap: 10px;
      }
      .card_address{
         width: 90% !important;
         margin-left: 9%;
         display: flex;
         flex-direction: column !important;
         align-items: center;
         padding: 10px;
      }
      .pt-100 {
         padding-top: 30px;
     }
     .card-body{
      text-align: center;
     }

  }
</style>

<main>
      {% if messages %}
         {% for message in messages %}
            <div class="alert alert-{{ message.tags }} auto-dismiss">
                  {{ message }}
            </div>
         {% endfor %}
         <script>
            setTimeout(function() {
                  $('.auto-dismiss').fadeOut('slow');
            }, 3000);
         </script> 
      {% endif %}
      <div class="breadcrumb-menu-edit">
         <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'home' %}"><span><i class="fa fa-home"></i></span></a></li>
            <li class="breadcrumb-item active"><span>Checkout</span></li>
         </ol>
      </div>
      <!-- page title area end  -->
      <section class="pt-100 pb-30">
         <div>
            {% if primary_address %}
            <div class="card card_address" style="width: 40% ;margin-left:9%; display: flex; flex-direction: row; align-items: center; padding: 10px;font-family: sans-serif;">
               <div class="card-body" id="selected-address-card">
                  <h6 class="card-subtitle mb-2 text-muted" style=" color: #000;  font-size: 16px; font-style: normal; font-weight: 400; line-height: normal;"><span id="add-address"></span><span>Deliver to:</span> <span id="mainScreenDeliverTo">{{ primary_address.name }}, {{ primary_address.pincode }}</span> </h6>
                  <h5 class="card-title" style=" color: #000;  font-size: 14px; font-style: normal; font-weight: 400; line-height: normal;">Address: <span id="mainScreenAddress">{{ primary_address.address }},{{primary_address.city}},{{primary_address.state}}</span></h5>
                  <h5 class="card-title" style=" color: #000;  font-size: 14px; font-style: normal; font-weight: 400; line-height: normal;">Phone: <span id="mainScreenPhone">{{ address.0.addPhoneNumber }}</span></h5>
               </div>
               <div onclick="togglePopup()" style="border-radius: 8px; border: 1px solid #C25729; padding: 8px; color: #C25729;  font-size: 12px; font-style: normal; font-weight: 400; line-height: normal;">
                  Change Address
               </div>
            </div>
            {% else %}
            <div class="card card_address" style="width: 40% ;margin-left:9%; display: flex; flex-direction: row; align-items: center; padding: 10px;font-family: sans-serif;">
               <div class="card-body" id="selected-address-card">
                  <h6 class="card-subtitle mb-2 text-muted" style=" color: red;  font-size: 16px; font-style: normal; font-weight: 400; line-height: normal;"><span id="add-address">Please add a Delivery Address</span></h6>
                  
               </div>
               <div onclick="togglePopup()" style="border-radius: 8px; border: 1px solid #C25729; padding: 8px; color: #C25729;  font-size: 12px; font-style: normal; font-weight: 400; line-height: normal;">
                  Add Address
               </div>
            </div>
            <div id="add-address-message" class="error-message" style="margin-left:9%;"></div>
            {% endif %}
         </div>
      </section>
      
      <div id="addressPopup" class="overlay" style="display: none;">
         <div class="popup">
            <span class="close-button" onclick="closePopup()">&times;</span>
            <h4 id="popupmaintext" style=" color: var(--black, #1C1B1F); font-variant-numeric: lining-nums tabular-nums;  font-size: 20px; font-style: normal; font-weight: 500; line-height: 20px;">Select Address</h4>
            <form id="addressForm">
               {% comment %} {{request.user.id}} {% endcomment %}
               <div id="SaveaddressForm">
                  <!-- Dynamically populate options with addresses as radio buttons -->
                  {% for addr in address %}
                  <label style=" display: flex; flex-direction: row; align-items: center; ">
                     <input type="radio" name="selectedAddress" value="{{ addr.name }}, {{ addr.pincode }}" onclick="selectAddress('{{ addr.name }}', '{{ addr.address }}','{{addr.addPhoneNumber}}','{{addr.city}}','{{addr.state}}');">
                     <div class="card-body" style="text-align: start ;display: flex; flex-direction: row; align-items: baseline; gap: 20px;">
                        <div style="
                        width: 100%;
                    ">
                           <h6 class="card-subtitle mb-2 text-muted" style="color: #000;  font-size: 16px; font-style: normal; font-weight: 400; line-height: normal;">
                              <span>Deliver to:</span> {{ addr.name }}, {{ addr.pincode }}
                           </h6>
                           <h5 class="card-title" style="color: #000;  font-size: 14px; font-style: normal; font-weight: 400; line-height: normal;">
                              Address: {{ addr.user_address }}
                           </h5>
                           <h5 class="card-title" style="color: #000;  font-size: 14px; font-style: normal; font-weight: 400; line-height: normal;">
                              Phone: {{ addr.addPhoneNumber }}
                           </h5>
                        </div>
                        <div>
                           <span class="addrType_chip">{{addr.address_type}}</span>
                        </div>
                     </div>
                  </label>
                  {% endfor %}
                  
               </div>
            <form id="newAddressForm" method="POST">
               {% csrf_token %}
               <input type="hidden" id="user_id" name="user_id" value="{{ request.user.id }}">

               <div id="billingAddressForm" style="display: none;">
                  
                  <div class="checkbox-form">
                     <h3>New Billing Details</h3>
                     <div class="row">
                        <div class="col-md-12">
                           <div class="country-select">
                              <label>Country <span class="required">*</span></label>
                              <select id="country" name="country">
                                 <option value="India">India</option>
                              </select>
                           </div>
                        </div>
                        <div class="col-md-6">
                           <div class="checkout-form-list">
                              <label>First Name <span class="required">*</span></label>
                              <input type="text" placeholder="First Name" name="first_name" id="first_name"/>
                           </div>
                        </div>
                        <div class="col-md-6">
                           <div class="checkout-form-list">
                              <label>Last Name <span class="required">*</span></label>
                              <input type="text" placeholder="Last Name" name="last_name" id="last_name"/>
                           </div>
                        </div>
                        {% comment %} <div class="col-md-12">
                           <div class="checkout-form-list">
                              <label>Company Name</label>
                              <input type="text" placeholder="" />
                           </div>
                        </div> {% endcomment %}
                        <div class="col-md-12">
                           <div class="checkout-form-list">
                              <label>Address <span class="required">*</span></label>
                              <input type="text" placeholder="Street address" name="address_line_1" id="address_line_1"/>
                           </div>
                        </div>
                        <div class="col-md-12">
                           <div class="checkout-form-list">
                              <input type="text" placeholder="Apartment, suite, unit etc. (optional)" name="address_line_2" id="address_line_2" />
                           </div>
                        </div>
                        <div class="col-md-12">
                           <div class="checkout-form-list">
                              <label>Town / City <span class="required">*</span></label>
                              <input type="text" placeholder="Town / City" name="city" id="city"/>
                           </div>
                        </div>
                        <div class="col-md-6">
                           <div class="checkout-form-list">
                              <label>State / County <span class="required">*</span></label>
                              <input type="text" placeholder="" name="state" id="state"/>
                           </div>
                        </div>
                        <div class="col-md-6">
                           <div class="checkout-form-list">
                              <label>Postcode / Zip <span class="required">*</span></label>
                              <input type="text" placeholder="Postcode / Zip" name="pincode" id="pincode" onkeyup="getPincodeDeliveryValidation(this.value);"/>
                              <div id="pincode-availability-message" class="error-message"></div>
                           </div>
                        </div>
                        <div class="col-md-6">
                           <div class="checkout-form-list">
                              <label>Email Address <span class="required">*</span></label>
                              <input type="email" placeholder="" name="email" id="email"/>
                           </div>
                        </div>
                        <div class="col-md-6">
                           <div class="checkout-form-list">
                              <label>Phone <span class="required">*</span></label>
                              <input type="text" placeholder="Phone Number" name="phone_number" id="phone_number" />
                           </div>
                        </div>
                        
                     </div>
                     <div class="different-address">
                        <div class="ship-different-title">
                           <label>Ship to a different address?</label>
                           <input id="ship-box" name="ship-box" type="checkbox" />
                        </div>
                        <div id="ship-box-info">
                           <div class="row">
                              <div class="col-md-12">
                                 <div class="country-select">
                                    <label>Country <span class="required">*</span></label>
                                    <select id="countryShip" name="countryShip">
                                       <option value="India">India</option>
                                    </select>
                                 </div>
                              </div>
                              <div class="col-md-6">
                                 <div class="checkout-form-list">
                                    <label>First Name <span class="required">*</span></label>
                                    <input type="text" placeholder="First Name" name="first_nameShip" id="first_nameShip"/>
                                 </div>
                              </div>
                              <div class="col-md-6">
                                 <div class="checkout-form-list">
                                    <label>Last Name <span class="required">*</span></label>
                                    <input type="text" placeholder="Last Name" name="last_nameShip" id="last_nameShip"/>
                                 </div>
                              </div>
                              {% comment %} <div class="col-md-12">
                                 <div class="checkout-form-list">
                                    <label>Company Name</label>
                                    <input type="text" placeholder="" />
                                 </div>
                              </div> {% endcomment %}
                              <div class="col-md-12">
                                 <div class="checkout-form-list">
                                    <label>Address <span class="required">*</span></label>
                                    <input type="text" placeholder="Street address" name="address_line_1Ship" id="address_line_1Ship"/>
                                 </div>
                              </div>
                              <div class="col-md-12">
                                 <div class="checkout-form-list">
                                    <input type="text" placeholder="Apartment, suite, unit etc. (optional)" name="address_line_2Ship" id="address_line_2Ship" />
                                 </div>
                              </div>
                              <div class="col-md-12">
                                 <div class="checkout-form-list">
                                    <label>Town / City <span class="required">*</span></label>
                                    <input type="text" placeholder="Town / City" name="cityShip" id="cityShip"/>
                                 </div>
                              </div>
                              <div class="col-md-6">
                                 <div class="checkout-form-list">
                                    <label>State / County <span class="required">*</span></label>
                                    <input type="text" placeholder="" name="stateShip" id="stateShip"/>
                                 </div>
                              </div>
                              <div class="col-md-6">
                                 <div class="checkout-form-list">
                                    <label>Postcode / Zip <span class="required">*</span></label>
                                    <input type="text" placeholder="Postcode / Zip" name="pincodeShip" id="pincodeShip" />
                                 </div>
                              </div>
                              <div class="col-md-6">
                                 <div class="checkout-form-list">
                                    <label>Email Address <span class="required">*</span></label>
                                    <input type="email" placeholder="" name="email" id="email"/>
                                 </div>
                              </div>
                              <div class="col-md-6">
                                 <div class="checkout-form-list">
                                    <label>Phone <span class="required">*</span></label>
                                    <input type="text" placeholder="Phone Number" name="phone_number" id="phone_number" />
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="order-notes">
                           <div class="checkout-form-list">
                              <label>Order Notes</label>
                              <textarea id="checkout-mess" cols="30" rows="10" name="checkout-mess"
                                 placeholder="Notes about your order, e.g. special notes for delivery."></textarea>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>

               <span class="add-new-address fill-btn" id="add-new-address" onclick="toggleBillingAddressForm()">Add new address</span>               
               <span class="add-new-address fill-btn" id="save-new-address" style="display: none" onclick="saveNewAddress()">Save new address</span>            
            </form>
         </div>
      </div>
      

      <!-- coupon-area start -->
      <section class="coupon-area pt-100 pb-30">
         <div class="container container-small">
            <div class="row">
               <div class="col-md-6">
                  <div class="coupon-accordion">
                     <!-- ACCORDION START -->
                     <h3>Have a coupon? <span id="showcoupon">Click here to enter your code</span></h3>
                     <div id="checkout_coupon" class="coupon-checkout-content">
                        <div class="coupon-info">
                           <form action="#">
                              <p class="checkout-coupon">
                                 <input type="text" placeholder="Coupon Code" />
                                 <button class="fill-btn" type="submit">Apply Coupon</button>
                              </p>
                           </form>
                        </div>
                     </div>
                     <!-- ACCORDION END -->
                  </div>
               </div>
            </div>
         </div>
      </section>
      <!-- coupon-area end -->

      <!-- checkout-area start -->
      <section class="checkout-area pb-70">
         <div class="container container-small">
            {% comment %} <form action="{% url 'paymentcheckout' totalAmount %}" method="post"> {% endcomment %}
               {% csrf_token %}
               <div class="row">
                  <div class="col-lg-6">
                     <div class="table-content table-responsive">
                        <table class="table">
                           <div class="wishlist_card">
                              {% for order in orderItems.items.all %}
                              <div class="wishlist_wrap">
                                 <span class="product-thumbnail"><a href="{% url 'productdetail' subcategory=order.item.subcategory slug=order.item.slug %}"><img style="width: 100px;" class="wishlist_image"
                                    src="data: image/png; base64, {{order.item.binaryToStringImage1|safe}}" alt="img"></a></span>
                                    <div style="margin-left: ;">
                                    <span class="product-name"><a href="{% url 'productdetail' subcategory=order.item.subcategory slug=order.item.slug %}">{{order.item.name|slice:25}}</a></span>
                                    <span class="product-name">{{order.item.long_name}}</span>
                                    <div style="">
                                       <span style="color: #282c3f; font-weight: 700; text-align: left;">Selected Size: </span>
                                       <span class="product-size"><a href="{% url 'productdetail' subcategory=order.item.subcategory slug=order.item.slug %}">{{order.size}}</a></span>
                                    </div>
                                    <div style=" padding: 16px 0px;">
                                       <span style="color: #282c3f; font-weight: 700; text-align: left;">Price: </span>
         
                                       <span class="product-price"><span class="amount">₹{{order.item.price_gst_included}}</span></span>
                                       <span style=" opacity: .8; color: #94969f; text-decoration: line-through;" class="product-price" style="color: grey; text-decoration: line-through;">₹{{order.item.mrp_gst_included}}</span>
                                    </div>
                                    <div class="price_quantity">
                                       <span class="product-quantity text-center">
                                          <div class="product-quantity">
                                             <div style=" display: flex; flex-wrap: wrap; align-items: center; gap: 20px; margin-top: 10px;">
                                                <span style="color: #282c3f; font-weight: 700; text-align: left;">Quantity: </span>
                                                <div class="product-quantity-cart">
                                                   <div class="product-quantity-form">
                                                      <form action="">
                                                         <button class="cart-minus cart-minus-co far fa-minus" id="{{order.item.id}}-cart-minus-btn:{{order.size}}"></button>
                                                         <input class="cart-input cart-input-co" type="text" id="{{order.item.id}}-name-value:{{order.size}}" value="{{order.quantity}}">
                                                         <button class="cart-plus cart-plus-co far fa-plus" id="{{order.item.id}}-cart-plus-btn:{{order.size}}"></button>
                                                      </form>
                                                   </div>

                                                </div>
                                             </div>
                                          </div>
                                       </span>
                                       
                                    </div>
                                 
                                 </div>
                                 
                                 <span class="product-remove wishlist_remove" style=" position: relative; ;"><a href="{% url 'delete-from-cart' order.item.id %}"><i class="fa fa-times-circle"></i></a></span>
                              </div>
                              {% endfor %}
                           </div>
                        </table>
                     </div>
                    
                  </div>
                 
                  <div class="col-lg-6">
                     <div class="your-order mb-30 ">
                        <h3>Your order</h3>
                        <div class="your-order-table table-responsive">
                           <table>
                              <thead>
                                 <tr>
                                    <th class="product-name">Product</th>
                                    <th class="product-total">Total</th>
                                 </tr>
                              </thead>
                              {% for order in orderItems.items.all %}
                              <tbody>
                                 <tr class="cart_item">
                                    <td class="product-name">
                                       {{order.item.name}} <strong class="product-quantity" id="checkout-product-qty-{{order.item.id}}"> × {{order.quantity}}</strong>
                                    </td>
                                    <td class="product-total" id="product-total-{{order.item.id}}">
                                       <span class="amount">₹{{order.get_final_price}}</span>
                                    </td>
                                 </tr>
                              </tbody>
                              {% endfor %}
                              <tfoot>
                                 <tr class="cart-subtotal" id="card-subtotal">
                                    <th>Cart Subtotal</th>
                                    <td><span class="amount">₹{{orderItems.get_total}}</span></td>
                                 </tr>
                                 {% if shippingCharges > 0 %}
                                 <tr class="shipping" id="shipping-amount">
                                    <th>Shipping</th>
                                    <td>
                                       <ul>
                                          <li>
                                             <input type="radio" select />
                                             <label>
                                                Flat Rate: <span class="amount">₹{{shippingCharges}}</span>
                                             </label>
                                          </li>
                                       </ul>
                                    </td>
                                 </tr>
                                 {% else %}
                                 <tr class="shipping" id="shipping-amount">
                                    <th>Shipping</th>
                                    <td>
                                       <ul>
                                          <li>
                                             <input type="radio" select/>
                                             <label>
                                                Free Shipping: <span class="amount">₹{{shippingCharges}}</span>
                                             </label>
                                          </li>
                                       </ul>
                                    </td>
                                 </tr>
                                 {% endif %}
                                 <tr class="shipping" id="gst_amount">
                                    <th>GST</th>
                                    <td>
                                       <ul>
                                          <li>
                                             <label>
                                               <span class="amount">₹{{gst_amount}} </span>
                                             </label>
                                          </li>
                                       </ul>
                                    </td>
                                 </tr>
                                 <tr class="order-total" id="order-total">
                                    <th>Order Total</th>
                                    <td><strong><span class="amount">₹{{totalAmount}}</span></strong>
                                    </td>
                                 </tr>
                              </tfoot>
                           </table>
                        </div>

                        <div class="payment-method">
                           <div class="order-button-payment mt-20">
                              <a type="button" href="{% url 'payment-checkout-phonepe' totalAmount %}" class="fill-btn place-order-btn" style="width: 80%;" onclick="checkout();">Place order</a>
                              <button id="rzp-button1">Pay with Razorpay</button>

                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            {% comment %} </form> {% endcomment %}
         </div>
      </section>
      <section class="cart-area pt-100 pb-100">
         <div class="container container-small">
            <div class="row">
               
            </div>
         </div>
      </section>
      <!-- checkout-area end -->
      <script>
         function getPincodeDeliveryValidation(value) {
             domain = window.location.origin;
             $.ajax({
                 url: domain + '/stores/location-availability/',
                 type: 'GET',
                 body: {
                     pincode: value
                 },
                 success: function (response) {
                     document.getElementById("pincode-availability-message").textContent = "";
                     if (response.available == true) {
                         document.getElementById("pincode-availability-message").textContent = "Hurray! We are delivering at this location.";
                     }
                     else {
                         document.getElementById("pincode-availability-message").textContent = "OOPS! We are currently not delivering at this location.";
                     }
                 }
             });
         }
     </script>
     
      <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
      <script>
         var domain = window.location.origin;
         var razorpay_order_id = "{{ razorpay_order_id }}";
         console.log(razorpay_order_id);
      var options = {
         "key": "{{razorpay_key_id}}", 
         "amount": {{totalAmount}}*100, 
         "currency": "INR",
         "name": "VAMS Mechatronica Pvt. Ltd.",
         "description": "Test Transaction",
         "image": "{% static 'assets/img/logo/My project-1.png' %}",
         "order_id": "{{order.razorpay_order_id}}", 
         "theme": {
            "color": "#110000"
         },
         "handler": function (response){
        window.location.href = domain+ `/cart/payment/razorpay/success?razorpay_order_id=${razorpay_order_id}&razorpay_payment_id=${response.razorpay_payment_id}`;
         }
      };   
      var rzp1 = new Razorpay(options);
      rzp1.on('payment.failed', function (response){
         alert(response.error.code);
         alert(response.error.description);
         alert(response.error.source);
         alert(response.error.step);
         alert(response.error.reason);
         alert(response.error.metadata.order_id);
         alert(response.error.metadata.payment_id);
      });
      document.getElementById('rzp-button1').onclick = function(e){
         rzp1.open();
         e.preventDefault();
      }
      </script>
     
     <script>
         let isPopupOpen = false;
     
         function togglePopup() {
             if (isPopupOpen) {
                 closePopup();
             } else {
                 openPopup();
             }
         }
     
         function openPopup() {
             document.getElementById("addressPopup").style.display = "flex";
             isPopupOpen = true;
         }
     
         function closePopup() {
             document.getElementById("addressPopup").style.display = "none";
             isPopupOpen = false;
         }
     
         function selectAddress(deliverTo, userAddress,phone,city,state) {
             const mainScreenDeliverTo = document.getElementById("mainScreenDeliverTo");
             mainScreenDeliverTo.textContent = deliverTo;
     
             const mainScreenAddress = document.getElementById("mainScreenAddress");
             mainScreenAddress.textContent = userAddress+","+city+","+state;

             const mainScreenPhone = document.getElementById("mainScreenPhone");
             mainScreenPhone.textContent = phone;
     
             closePopup();
         }
     
         function saveNewAddress() {
            domain = window.location.origin;

            // Make an AJAX POST request to save the address
            $.ajax({
                type: "POST",
                url: domain + "/user/accounts/address/", // Update with your actual URL
                data: {
                  name: $("#first_name").val() + " " + $("#last_name").val(),
                  email:$("#email").val(),
                  addPhoneNumber:$("#phone_number").val(),
                  country:$("#country").val(),
                  address:$("#address_line_1").val()+", "+ $("#address_line_2").val(),
                  city:$("#city").val(),
                  state:$("#state").val(),
                  pincode:$("#pincode").val(),
                  set_default:true,
                  address_type:"Home",
                  user:$('#user_id').val(),
                  csrfmiddlewaretoken:getCookie('csrftoken'),
               },
                success: function (response) {
                    console.log(response);
                    alert("Address saved successfully!");
                    // Reload the page after a short delay
                    setTimeout(function () {
                        location.reload();
                    }, 500); // Reload after 1 second (1000 milliseconds)
                },
                error: function (xhr, textStatus, errorThrown) {
                    // Handle errors
                    console.error("Error:", xhr, textStatus, errorThrown);
                    alert("Failed to save address. Please try again.");
                },
            });
        }
        
        
    
        // Function to toggle the billing address form
        function toggleBillingAddressForm() {
         var billingAddressForm = document.querySelector("#billingAddressForm");
         if (billingAddressForm) {
             billingAddressForm.style.display = billingAddressForm.style.display === "none" ? "block" : "none";
         }
         var SaveaddressForm = document.querySelector("#SaveaddressForm");
         if (SaveaddressForm) {
             SaveaddressForm.style.display = "none";
             $("#popupmaintext").hide();
             $(".popup").css('height', '500px');
             $("#add-new-address").hide();
             $("#save-new-address").show();
         }
     }
    
        // Attach a click event listener to the "Save new address" button
        $(document).ready(function () {
            $("#save-new-address").click(function () {
                saveNewAddress();
            });
        });
     
         function saveAddressDetails() {
             var billingFirstName = document.querySelector("#billing_first_name").value;
             var billingLastName = document.querySelector("#billing_last_name").value;
     
             var billingAddressDetails = {
                 firstName: billingFirstName,
                 lastName: billingLastName,
             };
     
             localStorage.setItem("savedBillingAddress", JSON.stringify(billingAddressDetails));
     
             closePopup();
         }
      
      $(document).ready(function(){
         $('.cart-plus-co').click(function(e){
               //showLoader();
               e.preventDefault();
               
               var elementId = $(this).attr('id').split('-')[0];
               //console.log(elementId);
               var size = $(this).attr('id').split(':')[1];
               //console.log(size);
               domain = window.location.origin;
               path_name = '/cart/customer/order/add/'; 
               $.ajax({
                  type: 'POST',
                  url: domain+path_name,
                  data: {
                     "csrfmiddlewaretoken":getCookie('csrftoken'),
                     "product" : elementId.toString(),
                     "size": size.toString(),
                     "quantity": "1"
                  },
                  success: function(response) {
                     //console.log(response);
                     if (response){
                     document.getElementById("product-total-"+elementId).innerHTML ="<span>"+"₹"+response['item_dprice']+"</span>";
                     document.getElementById("order-total").innerHTML =`<th>Order Total</th><td><strong><span class="amount">₹`+response['amount_at_checkout']+`</span></strong></td>`;
                     document.getElementById("card-subtotal").innerHTML =`<th>Cart Subtotal</th>
                                    <td><span class="amount">₹`+response['amount']+`</span></td>`;
                     document.getElementById("checkout-product-qty-"+elementId).innerHTML =" × "+response['item_qty'];
                     document.getElementById("cart-number").innerHTML = response['qty'];
                     //document.getElementById("place-order-btn").href = "/cart/payment/checkout/"+response['amount_at_checkout'];
                     $('.place-order-btn').attr("href","/cart/payment/checkout/"+response['amount_at_checkout']);
                     document.getElementById("gst_amount").innerHTML = `<th>GST</th>
                                    <td>
                                       <ul>
                                          <li>
                                             <label>
                                               <span class="amount">₹`+response['gst_amount']+` </span>
                                             </label>
                                          </li>
                                       </ul>
                                    </td>`;
                     if (response['shipping'] == 0) {
                        document.getElementById("shipping-amount").innerHTML = `<th>Shipping</th>
                                    <td>
                                       <ul>
                                          <li>
                                             <input type="radio" select />
                                             <label>
                                                Free Shipping: <span class="amount">₹`+response['shipping']+`</span>
                                             </label>
                                          </li>
                                       </ul>
                                    </td>`;
                     }
                     else {
                        document.getElementById("shipping-amount").innerHTML = `<th>Shipping</th>
                                    <td>
                                       <ul>
                                          <li>
                                             <input type="radio" select />
                                             <label>
                                                Flat Rate: <span class="amount">₹`+response['shipping']+`</span>
                                             </label>
                                          </li>
                                       </ul>
                                    </td>`;

                     }
                  }
               },
                  error: function(response){
                     console.log(response);
                  },
               });
         });
         
         $('.cart-minus-co').click(function(e){
               //showLoader();
               e.preventDefault();
               var elementId = $(this).attr('id').split('-')[0];
               var size = $(this).attr('id').split(':')[1];
               domain = window.location.origin;
               path_name = '/cart/customer/order/remove/'; //change-this url
               $.ajax({
                  type: 'POST',
                  url: domain+path_name,
                  data: {
                    "csrfmiddlewaretoken":getCookie('csrftoken'),
                     "product" : elementId.toString(),
                     "size": size.toString(),
                     "quantity": "1" 
                  },
                  success: function(response) {
                     //console.log(response);
                     if (response){
                     document.getElementById("product-total-"+elementId).innerHTML ="<span>"+"₹"+response['item_dprice']+"</span>";
                     document.getElementById("order-total").innerHTML =`<th>Order Total</th><td><strong><span class="amount">₹`+response['amount_at_checkout']+`</span></strong></td>`;
                     document.getElementById("card-subtotal").innerHTML =`<th>Cart Subtotal</th>
                                    <td><span class="amount">₹`+response['amount']+`</span></td>`;
                     document.getElementById("checkout-product-qty-"+elementId).innerHTML =" × "+response['item_qty'];
                     document.getElementById("cart-number").innerHTML = response['qty'];
                     $('.place-order-btn').attr("href","/cart/payment/checkout/"+response['amount_at_checkout']);
                     document.getElementById("gst_amount").innerHTML = `<th>GST</th>
                                    <td>
                                       <ul>
                                          <li>
                                             <label>
                                               <span class="amount">₹`+response['gst_amount']+` </span>
                                             </label>
                                          </li>
                                       </ul>
                                    </td>`;

                     if (response['item_qty'] == 0){
                              location.reload(true);
                           }
                     }
                     if (response['shipping'] == 0) {
                        document.getElementById("shipping-amount").innerHTML = `<th>Shipping</th>
                                    <td>
                                       <ul>
                                          <li>
                                             <input type="radio" select />
                                             <label>
                                                Free Shipping: <span class="amount">₹`+response['shipping']+`</span>
                                             </label>
                                          </li>
                                       </ul>
                                    </td>`;
                     }
                     else {
                        document.getElementById("shipping-amount").innerHTML = `<th>Shipping</th>
                                    <td>
                                       <ul>
                                          <li>
                                             <input type="radio" select />
                                             <label>
                                                Flat Rate: <span class="amount">₹`+response['shipping']+`</span>
                                             </label>
                                          </li>
                                       </ul>
                                    </td>`;

                     }
                  },
                  error: function(response){
                     console.log(response);
                  },
               })
         });
      });

      function checkout(){
         var valid = false;
         var add_address = document.getElementById('add-address').textContent;

         if (add_address === "Please add a Delivery Address"){
            valid = false;
            document.getElementById('add-address-message').innerHTML= "Please Enter a Delivery Address"; 
         } else {
            var mainScreenDeliverTo = document.getElementById("mainScreenDeliverTo").textContent ;
            var mainScreenAddress = document.getElementById("mainScreenAddress").textContent ;
            var mainScreenPhone = document.getElementById("mainScreenPhone").textContent ;
   
   
            var ShippingAddress = "Deliver To: "+mainScreenDeliverTo+", Address: "+mainScreenAddress+ ", Phone: "+mainScreenPhone;
           
            document.cookie = 'shipping_address=' +ShippingAddress+ ";domain=;path=/;expires=" + new Date(Date.now() + 7 * 24 * 60 * 60 * 1000).toUTCString();
            window.location.href = $('.place-order-btn').attr('href');
         }
         

      }
   </script>
     
   </main>
{% endblock body %}