{% extends 'base.html' %}
{% load static %}
{% block title %}Login{% endblock title %}
{% block body %}
<!-- Add your site or application content here -->
<main>
   {% if messages %}
      {% for message in messages %}
         <div class="alert alert-{{ message.tags }} auto-dismiss">
               {{ message }}
         </div>
      {% endfor %}
      <script>
         setTimeout(function() {
               $('.auto-dismiss').fadeOut('slow');
         }, 3000);
      </script> 
   {% endif %}
   <div class="breadcrumb-menu-edit">
      <ol class="breadcrumb">
         <li class="breadcrumb-item"><a href="{% url 'home' %}"><span><i class="fa fa-home"></i></span></a></li>
         <li class="breadcrumb-item"><a href="{% url 'login' %}"><span>Login</span></a></li>
         <li class="breadcrumb-item active"><span>Forgot Password</span></li>
      </ol>
   </div>
   <!-- page title area end  -->

   <!-- password reset area start  -->
   <div class="page-title-wrapper text-center">
   <h1 class="page-title mb-10">Forgot Password</h1>
   </div>
   <div class="register-area pt-120 pb-120">
      <div class="container container-small">
         <div class="row justify-content-center">
            <div class="col-lg-8">
               <div class="signup-form-wrapper">
                  <form method="post" action="">{% csrf_token %}
                     <div class="signup-wrapper">
                        <input type="text" name="email" id="email" onkeyup="checkUserExist(this.value)" placeholder="Enter Your Email address">
                        <div id="user-exist-message" class="error-message"></div>
                     </div>
                     <div class="sing-buttom mb-20">
                        <button class="sing-btn">Reset Now</button>
                     </div>
                  </form>
               </div>
            </div>
         </div>
      </div>
   </div>
   <script>
      function checkUserExist(value){
         console.log(value);
         domain = window.location.origin;
         $.ajax({
            url: domain+'/api/v1/user/accounts/user-exists/?email='+value,
            type: 'GET',
            success: function (response){
               console.log(response);
               document.getElementById("user-exist-message").textContent = "";
               if (response.available == true) {
                  document.getElementById("user-exist-message").textContent = "User Exists.";
               }
               else  {
                  document.getElementById("user-exist-message").textContent = "User with this email does not exist!";
               }
            }
         })
      }
   </script>
   <!-- register area end  -->
</main>
{% endblock body %}

