{% extends 'base.html' %}
{% load static %}
{% block title %}Login{% endblock title %}
{% block body %}
<!-- Add your site or application content here -->
<main>
   {% if messages %}
      {% for message in messages %}
         <div class="alert alert-{{ message.tags }} auto-dismiss">
               {{ message }}
         </div>
      {% endfor %}
      <script>
         setTimeout(function() {
               $('.auto-dismiss').fadeOut('slow');
         }, 3000);
      </script> 
   {% endif %}
   {% comment %} <!-- side toggle start -->
   <div class="fix">
      <div class="side-info">
         <div class="side-info-content">
            <div class="offset-widget offset-logo mb-40">
               <div class="row align-items-center">
                  <div class="col-9">
                     <a href="index.html">
                        <img src="{% static 'assets/img/logo/logo-bl.png' %}" alt="Logo">
                     </a>
                  </div>
                  <div class="col-3 text-end"><button class="side-info-close"><i class="fal fa-times"></i></button>
                  </div>
               </div>
            </div>
            <div class="mobile-menu d-lg-none fix"></div>
            <div class="offset-profile-action d-md-none">
               <div class="offset-widget mb-40">
                  <div class="action-list action-list-header1">
                     <div class="action-item action-item-cart">
                        <a href="javascript:void(0)" class="view-cart-button">
                           <i class="fal fa-shopping-bag"></i>
                           <span class="action-item-number">3</span></a>
                     </div>
                     <div class="action-item action-item-wishlist">
                        <a href="javascript:void(0)" class="view-wishlist-button">
                           <i class="fal fa-heart"></i>
                           <span class="action-item-number">2</span></a>
                     </div>
                  </div>
               </div>
            </div>
            <div class="offset-widget offset_searchbar mb-30">
               <form action="#" class="filter-search-input">
                  <input type="text" placeholder="Search keyword">
                  <button><i class="fal fa-search"></i></button>
               </form>
            </div>
         </div>
      </div>
   </div>
   <div class="offcanvas-overlay"></div>
   <div class="offcanvas-overlay-white"></div>

   <div class="fix">
      <div class="sidebar-action sidebar-cart">
         <button class="close-sidebar">Close<i class="fal fa-times"></i></button>
         <h4 class="sidebar-action-title">Shopping Cart</h4>
         <div class="sidebar-action-list">
            <div class="sidebar-list-item">
               <div class="product-image pos-rel">
                  <a href="shop-details.html" class=""><img src="{% static 'assets/img/shirt/3/1.jpg' %}" alt="img"></a>
               </div>
               <div class="product-desc">
                  <div class="product-name"><a href="shop-details.html">Felted Shirt for Man</a></div>
                  <div class="product-pricing">
                     <span class="item-number">1 &times;</span>
                     <span class="price-now">₹24.00</span>
                  </div>
                  <button class="remove-item"><i class="fal fa-times"></i></button>
               </div>
            </div>
            <div class="sidebar-list-item">
               <div class="product-image pos-rel">
                  <a href="shop-details.html" class=""><img src="{% static 'assets/img/pant/1/4.jpg' %}" alt="img"></a>
               </div>
               <div class="product-desc">
                  <div class="product-name"><a href="shop-details.html">Denim Jeans Pant</a></div>
                  <div class="product-pricing">
                     <span class="item-number">1 &times;</span>
                     <span class="price-now">₹12.00</span>
                  </div>
                  <button class="remove-item"><i class="fal fa-times"></i></button>
               </div>
            </div>
            <div class="sidebar-list-item">
               <div class="product-image pos-rel">
                  <a href="shop-details.html" class=""><img src="{% static 'assets/img/jacket/2/2.jpg' %}" alt="img"></a>
               </div>
               <div class="product-desc">
                  <div class="product-name"><a href="shop-details.html">Denim Official Jacket</a></div>
                  <div class="product-pricing">
                     <span class="item-number">1 &times;</span>
                     <span class="price-now">₹42.00</span>
                  </div>
                  <button class="remove-item"><i class="fal fa-times"></i></button>
               </div>
            </div>

         </div>
         <div class="product-price-total">
            <span>Subtotal :</span>
            <span class="subtotal-price">₹78.00</span>
         </div>
         <div class="sidebar-action-btn">
            <a href="cart.html" class="fill-btn">View cart</a>
            <a href="checkout.html" class="border-btn">Checkout</a>
         </div>
      </div>
   </div>
   <div class="fix">
      <div class="sidebar-action sidebar-wishlist">
         <button class="close-sidebar">Close<i class="fal fa-times"></i></button>
         <h4 class="sidebar-action-title">Wishlist</h4>
         <div class="sidebar-action-list">
            <div class="sidebar-list-item">
               <div class="product-image pos-rel">
                  <a href="shop-details.html" class=""><img src="{% static 'assets/img/shirt/1/1.jpg' %}" alt="img"></a>
               </div>
               <div class="product-desc">
                  <div class="product-name"><a href="shop-details.html">Women's Faux-Trim Shirt</a></div>
                  <div class="product-pricing">
                     <span class="price-now">₹20.00</span>
                  </div>
                  <button class="remove-item"><i class="fal fa-times"></i></button>
               </div>
            </div>
            <div class="sidebar-list-item">
               <div class="product-image pos-rel">
                  <a href="shop-details.html" class=""><img src="{% static 'assets/img/pant/1/1.jpg' %}" alt="img"></a>
               </div>
               <div class="product-desc">
                  <div class="product-name"><a href="shop-details.html">Skinny Jeans Pant</a></div>
                  <div class="product-pricing">
                     <span class="price-now">₹24.00</span>
                  </div>
                  <button class="remove-item"><i class="fal fa-times"></i></button>
               </div>
            </div>

         </div>
         <div class="product-price-total">
            <span>Subtotal :</span>
            <span class="subtotal-price">₹44.00</span>
         </div>
         <div class="sidebar-action-btn">
            <a href="cart.html" class="fill-btn">View cart</a>
            <a href="cart.html" class="border-btn">Checkout</a>
         </div>
      </div>
   </div>
   <!-- side toggle end --> {% endcomment %}

   <!-- page title area start  -->
   {% comment %} <section class="page-title-area" data-background="{% static 'assets/img/bg/page-title-bg.jpg' %}">
      <div class="container">
         <div class="row">
            <div class="col-lg-12">
               <div class="page-title-wrapper text-center">
                  <h1 class="page-title mb-10">Forgot Password</h1>
                  <div class="breadcrumb-menu">
                     <nav aria-label="Breadcrumbs" class="breadcrumb-trail breadcrumbs">
                        <ul class="trail-items">
                           <li class="trail-item trail-begin"><a href="{% url 'home' %}"><span>Home</span></a></li>
                           <li class="trail-item trail-end"><span>Login</span></li>
                           <li class="trail-item trail-end"><span>Forgot Password</span></li>
                        </ul>
                     </nav>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </section> {% endcomment %}

   <div class="breadcrumb-menu-edit">
      <ol class="breadcrumb">
         <li class="breadcrumb-item"><a href="{% url 'home' %}"><span><i class="fa fa-home"></i></span></a></li>
         <li class="breadcrumb-item"><a href="{% url 'login' %}"><span>Login</span></a></li>
         <li class="breadcrumb-item active"><span>Forgot Password</span></li>
      </ol>
   </div>
   <!-- page title area end  -->

   <!-- password reset area start  -->
   <div class="register-area pt-120 pb-120">
      <div class="container container-small">
         <div class="row justify-content-center">
            <div class="col-lg-8">
               <div class="signup-form-wrapper">
                  <div class="text-center" style="width: 80%; margin: 0 auto">
                  <h1>Password reset sent</h1> 
                  <h5>We’ve emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.</h5><br>
                  <h6 style="width: 60%; margin: 0 auto">If you don’t receive an email, please make sure you’ve entered the address you registered with, and check your spam folder.</h6>
               </div>
               <div class="text-center">
               <a href="{% url 'home' %}">Return to home page</a>
               </div>
               </div>
            </div>
         </div>
      </div>
   </div>
   <!-- register area end  -->
</main>
{% endblock body %}

