{% extends 'user/base.html' %}
{% block profile %}
<div class="col-lg-8 pb-5 pt-4 ps-4">
<div class="card border-0">
    <ul class="notification-box">
        {% for noti in notifications %}
        <li>
            <a href="#" class="d-flex align-items-center p-3 rounded-3 bg-lightblue theme-black-bg">
                <img src="https://via.placeholder.com/50x50.jpg" alt="user" class="w-45 me-3 rounded-circle">
                <i class="feather-heart text-white bg-red-gradiant me-2 font-xssss notification-react"></i>
                <h6 class="font-xssss text-grey-900 white-text text-grey-900 mb-0 mt-0 fw-500 lh-20"><strong>{{noti.notification}}</strong> <strong>{{noti.message}}</strong>
                <span class="d-block text-grey-500 font-xssss fw-500 mb-0 mt-0 0l-auto">{{noti.timestamp}}</span>
                </h6>
                <i class="ti-more-alt text-grey-500 font-xs ms-auto"></i>
            </a>
        </li>
        {% endfor %}
    </ul>
</div>
</div>
{% endblock profile %}