{% extends 'user/base.html' %}
{% load static %}
<link rel="stylesheet" href="{% static 'style.css' %}">

{% block profile %}
<div class="col-lg-8 pb-5 pt-4 ps-4">
<div class="card border-0">
    <div class="table-content table-responsive">
        <table class="table text-center mb-0">
            <thead class="bg-greylight rounded-10 ovh">
                <tr>
                    <th class="border-0 p-3">&nbsp;</th>
                    <th class="border-0 p-3">&nbsp;</th>
                    <th class="border-0 p-3 fw-600 font-xsss mb-2 white-text">Price</th>
                    <th class="border-0 p-3 fw-600 font-xsss mb-2 white-text">Date</th>
                    <th class="border-0 p-3 fw-600 font-xsss mb-2 white-text">Status</th>
                    <th class="border-0 p-3 fw-600 font-xsss mb-2 white-text">&nbsp;</th>
                </tr>
            </thead>
            <tbody>
                {% for order in page_orders %}
                {% if order.items.all|length > 0 %}
                <tr>
                    <td>
                        <div class="form-check mt-1">
                            <input class="form-check-input" type="checkbox" value="option1" aria-label="">
                            <label class="text-grey-500 font-xssss"></label>
                        </div>
                    </td>
                    {% for item in order.items.all|slice:":1" %}
                    <td class="product-thumbnail text-start ps-0">
                        {% if order.ordered %}
                        <a href="{% url 'orderhistorydetail' order.id %}"><img src="/media/{{item.item.image1}}" alt="product-image"
                            class="w-80 d-inline-block pt-3 pb-3 bg-greylight rounded-6"></a>
                        {% else %}
                        <a href="#"><img src="/media/{{item.item.image1}}" alt="product-image"
                            class="w-80 d-inline-block pt-3 pb-3 bg-greylight rounded-6"></a>
                        {% endif %}
                    </td>
                    {% endfor %}
                    <td class="product-p">
                        <h6 class="font-xs ls-3 fw-700 text-current mt-1"><span
                                class="font-xsssss text-grey-500">₹</span>{{order.get_total|floatformat:2}}</h6>
                    </td>
                    <td class="product-quantity">
                        <span class="money text-grey-500 ls-3 font-xsssss fw-700">{{order.ordered_date|date}}</span>
                    </td>
                    <td class="product-total-price">
                        </span>
                        {% if order.ordered %}
                        <span
                            class="font-xsssss fw-700 ps-3 pe-3 lh-32 text-uppercase rounded-3 ls-2 alert-success d-inline-block text-success mb-1">Confirmed</span>
                        {% else %}
                        <span
                            class="font-xsssss fw-700 ps-3 pe-3 lh-32 text-uppercase rounded-3 ls-2 alert-danger d-inline-block text-danger mb-1">Pending</span> 
                        {% endif %}
                        {% if order.being_delivered %}
                        <span
                            class="font-xsssss fw-700 ps-3 pe-3 lh-32 text-uppercase rounded-3 ls-2 alert-success d-inline-block text-success mb-1">Shipped</span> 
                        {% endif %}
                        {% if order.received %}
                        <span
                            class="font-xsssss fw-700 ps-3 pe-3 lh-32 text-uppercase rounded-3 ls-2 alert-success d-inline-block text-success mb-1">Delivered</span> 
                        {% endif %}
                        <span
                        class="font-xsssss fw-700 ps-3 pe-3 lh-32 text-uppercase rounded-3 ls-2 alert alert-danger d-inline-block mb-1">Return</span>
                        {% if order.refund_requested%}
                        <span
                            class="font-xsssss fw-700 ps-3 pe-3 lh-32 text-uppercase rounded-3 ls-2 alert-success d-inline-block text-success mb-1">Refund Requested</span> 
                        {% endif %}
                        {% if order.refund_granted %}
                        <span
                            class="font-xsssss fw-700 ps-3 pe-3 lh-32 text-uppercase rounded-3 ls-2 alert-success d-inline-block text-success mb-1">Refunded</span> 
                        {% endif %}
                    </td>
                    <td class="product-remove text-right">
                        {% if order.ordered %}
                        <a href="{% url 'orderhistorydetail' order.id %}"><i class="feather-edit me-1 font-xs text-grey-500"></i></a>
                        {% else %}
                        <a href="#"><i class="feather-edit me-1 font-xs text-grey-500"></i></a>
                        {% endif %}
                        <a href="#"><i class="ti-trash font-xs text-grey-500"></i></a>
                    </td>
                </tr>
                {% else %}
                    <tr>
                        <td colspan='6'>No Orders to display, <a href="{% url 'home' %}">Continue Shopping</a></td>
                    </tr>
                {% endif %}
                {% endfor %}
            </tbody>
        </table>
    </div>
    
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-end mt-4">
            {% if page_orders.has_previous %}
            <li class="page-item active">
                <a class="page-link" href="?page={{page_orders.previous_page_number}}"><i class="feather-chevrons-left"></i></a>
            </li>
            {% else %}
            <li class="page-item disabled">
                <a class="page-link" href="?page={{page_orders.previous_page_number}}"><i class="feather-chevrons-left"></i></a>
            </li>
            {% endif %}
            <li class="page-item active"><a class="page-link" href="#">{% if page_orders.number %}{{page_orders.number}}{% else %}1{% endif %}</a></li>
            <li class="page-item">
                <a class="page-link" href="#"><i class="feather-chevrons-right"></i></a>
            </li>
            {% if page_orders.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{page_orders.next_page_number}}"><i class="feather-chevrons-right"></i></a>
            </li>
            {% endif %}
        </ul>
    </nav>
</div>

<div>
{% endblock profile %}