{% extends 'user/base.html' %}
{% block profile %}
<div class="col-lg-8 pb-5 pt-4 ps-4">
<div class="container">
    <article class="card">
        <header class="card-header"> My Orders / Tracking </header>
        <div class="card-body">
            <h6>Order ID: {{orders.sid}}</h6>
            <article class="card">
                <div class="card-body row">
                    <div class="col"> <strong>Estimated Delivery time:</strong> <br>{{expected_delivery_date}} </div>
                    {% if orders.shipped %}
                    <div class="col"> <strong>Shipping BY:</strong> <br> {{orders.shipping_by.name}} | <i class="fa fa-phone"></i> {{orders.shipping_by.customer_care}} </div>
                    {% endif %}
                    <div class="col"> <strong>Status:</strong> <br> {{orders.status}}</div>
                    {% if orders.tracking_id %}
                    <div class="col"> <strong>Tracking #:</strong> <br> {{orders.tracking_id}} </div>
                    {% endif %}
                </div>
            </article>
            <div class="track">
                {% if orders.ordered %}
                <div class="step active"> <span class="icon"> <i class="fa fa-check"></i> </span> <span class="text">Order confirmed</span> </div>
                {% else %}
                <div class="step"> <span class="icon"> <i class="fa fa-check"></i> </span> <span class="text">Order confirmed</span> </div>
                {% endif %}
                {% if orders.shipped %}
                <div class="step active"> <span class="icon"> <i class="fa fa-user"></i> </span> <span class="text"> Shipped</span> </div>
                {% else %}
                <div class="step"> <span class="icon"> <i class="fa fa-user"></i> </span> <span class="text"> Shipped</span> </div>
                {% endif %}

                {% if orders.shipped %}
                <div class="step active"> <span class="icon"> <i class="fa fa-truck"></i> </span> <span class="text"> On the way </span> </div>
                {% else %}
                <div class="step"> <span class="icon"> <i class="fa fa-truck"></i> </span> <span class="text"> On the way </span> </div>
                {% endif %}

                {% if orders.out_for_delivery %}
                <div class="step active"> <span class="icon"> <i class="fa fa-box"></i> </span> <span class="text">Out for Delivery</span> </div>
                {% else %}
                <div class="step"> <span class="icon"> <i class="fa fa-box"></i> </span> <span class="text">Out for Delivery</span> </div>
                {% endif %}

                {% if orders.delivered %}
                <div class="step active"> <span class="icon"> <i class="fa fa-box"></i> </span> <span class="text">Delivered</span> </div>
                {% else %}
                <div class="step"> <span class="icon"> <i class="fa fa-box"></i> </span> <span class="text">Delivered</span> </div>
                {% endif %}
                
            </div>
            <hr>
            <ul class="row">
                {% for order in orders.items.all %}
                <li class="col-md-4">
                    <figure class="itemside mb-3">
                        <div class="aside"><img src="data: image/png; base64, {{order.item.binaryToStringImage1|safe}}" class="img-sm border" width="100px" height="100px" style="object-fit: scale-down;"></div>
                        <figcaption class="info align-self-center">
                            <p class="title">{{order.item.name}} <br>Size: {{order.size}} <br>Qty: {{order.quantity}}</p> <span class="text-muted">₹{{order.get_final_price|floatformat:2}} </span>
                        </figcaption>
                    </figure>
                </li>
                {% endfor %}
            </ul>
             
            <hr>
            <a href="{% url 'profile-orders' %}" class="btn btn-outline-warning" data-abc="true"> <i class="fa fa-chevron-left"></i> Back to orders</a>

            {% comment %} if order is deliverd {% endcomment %}
            {% if orders.refund_request_cancelled %}
            <a type="button" class="btn btn-success order-return-btn" data-abc="true">Done</a>
            {% elif orders.refund_requested %}
            <a href="{% url 'refund-status' orders.id %}" type="button" class="btn btn-danger order-return-btn" data-abc="true"><i class="fa fa-close" style="margin-right:5px;"></i>Cancel Return</a>
            {% elif orders.delivered %}
            <a href="{% url 'refund-status' orders.id %}" type="button" class="btn btn-success order-return-btn" data-abc="true">Return</a>
            {% else %}
            <a href="#" class="btn btn-outline-danger order-cancel-btn" data-abc="true"><i class="fa fa-close" style="margin-right:5px;"></i>Cancel Order</a>
            {% endif %}
        </div>
    </article>
</div>
<div>
{% endblock profile %}